<!-- 在线服务/通知公告/公告管理/发布公告 -->
<style>
	.pb50 {padding-bottom: 0;}
</style>
<!-- <div class="layui-tab layui-tab-brief j-no-color">
  <ul class="layui-tab-title">
    <li class="layui-this">公告详情</li>
  </ul>
</div> -->
<div id="j-news-details" class="j-news-details j-viewer-img">
		<h1>{$data_info['title']}</h1>
		<h2>{$data_info['cuid']} 发布于  {$data_info['ctime']} </h2>
		<div class="j-content-size">
			{:htmlspecialchars_decode($data_info['content'])}
		</div>
	</div>
{include file="system@block/layui" /}
