<!-- 在线服务/通知公告/公告管理/发布公告 -->
<div class="layui-tab layui-tab-brief j-no-color">
  <ul class="layui-tab-title">
    <li class="layui-this">公告编辑</li>
  </ul>
</div>
<form class="layui-form j-top-margin j-long-words" action="{:url('edit')}" method="post">
	<div class="layui-form-item">
		<div class="layui-col-md8">
			<label class="layui-form-label">
				<i class="red">*</i>标题：
			</label>
			<div class="layui-input-block">
				<input type="text" name="title" value="{$data_info['title']}" placeholder="请输入" lay-verify="required" lay-verType="tips"
				autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-col-md8">
			<label class="layui-form-label">
				<i class="red">*</i>显示：
			</label>
			<div class="layui-input-block">
				<input type="checkbox" name="is_show" value="1" lay-skin="switch" lay-text="是|否" {if condition="$data_info['is_show']"}checked{/if}>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-col-md8">
			<label class="layui-form-label">
				<i class="red">*</i>内容：
			</label>
			<div class="layui-input-block">
				<textarea id="editor_id" name="content" style="width:100%;height:300px;">{:htmlspecialchars_decode($data_info['content'])}</textarea>
			</div>
		</div>
	</div>
	<input type="hidden" name="id" value="{$data_info['id']}">
	<div class="layui-form-item">
		<div class="layui-input-block">
			<a href="javascript:history.go(-1)" class="layui-btn layui-btn-primary">取消</a>
			<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="formSubmit">确认</button>
		</div>
	</div>
</form>
{include file="system@block/layui" /}
<script src="__ADMIN_JS__/viewjs/folded.js?v={:config('hisiphp.version')}"></script>
<script type="text/javascript" src="__PUBLIC_JS__/editor/kindeditor/kindeditor-all.js?v={:config('hisiphp.version')}"></script>
<script type="text/javascript" src="__PUBLIC_JS__/editor/kindeditor/lang/zh-CN.js?v={:config('hisiphp.version')}"></script>
<script type="text/javascript">   
	layui.use(['jquery','form','util', 'layer'], function() {
		    var laydate = layui.laydate,
		      $ = layui.$,
		      form = layui.form,
			  layer = layui.layer,
			  util = layui.util;
			 
	});
	//编辑器
	KindEditor.ready(function(K) {
		editor = K.create('textarea[name="content"]', {
			afterBlur:function(){this.sync();},
			resizeType : 1,
			allowPreviewEmoticons : false,
			
		});
	});	  
</script>