<div class="j-setting-box">
	<div class="j-setting-pass">
		<h1 class="j-setting-title">设置密码</h1>
		<form class="layui-form" action="{:url()}" method="post">
		  <div class="j-from-input">
			<div class="j-errors j-visibility"><i class="layui-icon iconfont j-icon-baocuo"></i><label></label></div>
			<div class="layui-form-item">
				<input type="password" name="password" id="pass" lay-verify="pass" lay-verType="msg" placeholder="设置密码" autocomplete="off" class="layui-input">
				<i class="layui-icon iconfont j-icon-biyan"></i>
			 </div>
			 <div class="layui-form-item">
				<input type="password" name="password_confirm" id="passcertain"  lay-verify="passcertain" placeholder="确认密码" autocomplete="off" class="layui-input">
				<i class="layui-icon iconfont j-icon-biyan"></i>
			  </div>
			  <div class="layui-form-item">
		          <button class="layui-btn layui-btn-normal j-pass-but" lay-submit="" lay-filter="Submit">确认</button>
		     </div>
			  <!-- <input type="submit" value="确认" lay-submit="" lay-filter="formSubmit" class="layui-btn layui-btn-normal j-pass-but"> -->
		  </div>
		</form>
	</div>
	
</div>
{include file="block/layui" /}

<script type="text/javascript">
layui.use(['form', 'layer', 'jquery'], function() {
	var $ = layui.jquery, layer = layui.layer, form = layui.form;
	//自定义验证
   form.on('submit(Submit)', function(data){
    var pass=$("#pass").val();
    var phone=$("#passcertain").val();
    var  reg = /^(?![a-z]+$)(?![A-Z]+$)(?![0-9]+$)[0-9a-zA-Z\W]\S{7,20}$/;
    if(pass=="")
	{
		$(".j-errors").removeClass("j-visibility");
		$(".j-errors label").text("首次登录请设置密码");
		return false;
	}
	else if(!reg.test(pass)){
     $(".j-errors").removeClass("j-visibility");
     $(".j-errors label").text("请输入含字母数字不少于8位数的密码！");
     return false;
    }
	else if(pass!=phone)
	{
		$(".j-errors").removeClass("j-visibility");
		$(".j-errors label").text("两次密码不一致，请核对后再输入！");
		return false;
	}
	else{
		$(".j-errors").addClass("j-visibility");
		alert("注册成功！");
	}
  });
    //密码显示隐藏
	$(".j-from-input .layui-form-item").each(function(){
		$(this).find("i").click(function(){
			$(this).parent().toggleClass("on");
			if($(this).parent().hasClass("on"))
			{
				$(this).parent().find("input").prop('type', 'text')
				 $(this).removeClass('j-icon-biyan')
                 $(this).addClass('j-icon-zhengyan');
			}
			else{
				$(this).parent().find("input").prop('type', 'password')
				 $(this).removeClass('j-icon-zhengyan')
				 $(this).addClass('j-icon-biyan');
			}
			
		})
	})
 });	
 </script>