<!-- 在线服务/空间状态/整租类状态/查看详细记录/详情 -->
<!-- 内容区 -->
<div class="layui-tab layui-tab-brief j-no-color">
 <ul class="layui-tab-title">
   <li class="layui-this">详情</li>
 </ul>
</div>
<div class="j-details-from">
 <form class="layui-form j-top-margin"  method="post" id="addForm">
 <div class="layui-form-item">
	  <label class="layui-form-label">预定日期：</label>
	  <div class="layui-input-block">
		<div class="j-words-border">2020/01/01</div>
	  </div>
 </div>
 <div class="layui-form-item">
 	  <label class="layui-form-label">预定时段：</label>
 	  <div class="layui-input-block">
 		<div class="j-words-border">09:45 - 22:00</div>
 	  </div>
 </div>
<div class="layui-form-item">
 	  <label class="layui-form-label">预约公司：</label>
 	  <div class="layui-input-block">
 		<div class="j-words-border">北京时代文化传播有限公司</div>
 	  </div>
 </div>
 <div class="layui-form-item">
  	  <label class="layui-form-label">预约人：</label>
  	  <div class="layui-input-block">
  		<div class="j-words-border">李某某</div>
  	  </div>
  </div>
  <div class="layui-form-item">
   	  <label class="layui-form-label">预约场地：</label>
   	  <div class="layui-input-block">
   		<div class="j-words-border">会议室2</div>
   	  </div>
   </div>
   <div class="layui-form-item">
    	  <label class="layui-form-label">状态：</label>
    	  <div class="layui-input-block">
    		<div class="j-words-border">已预约</div>
    	  </div>
    </div>
	<div class="layui-form-item">
	 	  <label class="layui-form-label">操作时间：</label>
	 	  <div class="layui-input-block">
	 		<div class="j-words-border">2019/08/02 14:23</div>
	 	  </div>
	 </div>
	  <div class="layui-form-item j-top-formmargin">
		<div class="layui-input-block">
		  <a href="javascript:history.go(-1)" class="layui-btn layui-btn-normal">返回</a>
		</div>
	  </div>
   <!-- 当前状态E -->
</from>
</div>
<!-- 内容区 -->
{include file="system@block/layui" /}
