<div class="j-indent-boxs">

	<div class="page-toolbar j-page-toolbar clearfix">
		  <form class="layui-form layui-form-pane" action="{url('index')}"  method="get" id="hisi-table-search">
			<div class="j-search-fl">
				  <div class="layui-input-inline j-input-margin" style="width:150px;">
					  <input type="text" name="group_name" placeholder="企业名称" class="layui-input">
				  </div>
				  <div class="layui-input-inline j-input-margin" style="width:150px;">
					  <input type="text" name="shack_start_time" placeholder="入驻时间" class="layui-input">
				  </div>
				  <div class="layui-input-inline j-input-margin" style="width:150px;">
					  <input type="text" name="shack_end_time" placeholder="到期时间" class="layui-input">
				  </div>
				  <div class="layui-input-inline j-input-margin" style="width:150px;">
					 <select name="shack_status"   lay-verType="tips" class="field-cid" type="select">
		  			    <option value="">请选择状态</option>
		  			    {volist name="params['shack_status']" id="v"}
		                <option value="{$key}">{$v}</option>
		                {/volist}
		  			 </select>
				  </div>
				  <button type="reset" class="layui-btn j-btn-reset">重置</button>
				  <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
					  <i class="layui-icon">&#xe615;</i>
					  搜索
				  </button>
			</div>
		  </form>
	  </div>
	<table id="dataTable" lay-filter='dataTable'></table>

	{include file="system@block/layui" /}

	<script type="text/html" title="操作按钮模板" id="buttonTpl">
		<div class="j-operation-box">
			{if condition="$group == 'y'"}
			<a href="{:url('edit')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal">编辑</a>
			<a href="{:url('manage')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal">管理</a>
			<a href="{:url('coupon')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal">发券</a>
			<a href="{:url('stop')}?id={{ d.id }}" hisi-data="{width: '400px', height: '230px'}" title="密码效验" class="layui-btn layui-btn-xs layui-btn-danger j-iframe-pop">停用</a>
			{else /}
			<a href="{:url('detail')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal">详情</a>
			{/if}
		</div>
	</script>
	<script type="text/html" id="toolbar"></script>
</div>
<script type="text/javascript">
    layui.use(['table','jquery'], function() {
        var $ = layui.$
		    ,table = layui.table;
        table.render({
            elem: '#dataTable'
            ,url: '{:url()}?group={$group}' //数据接口
            ,page: true //开启分页
			//,height: 'full-280'
            ,skin: 'line'
            //,even: false
            ,limit: 10
            ,text: {
                none : '暂无相关数据'
            }
            ,cols: [[ //表头
            	{field: 'group_name', align:'center',with:120, title: '企业名称'}
                ,{field: 'shack_start_time', align:'center',with:100, title: '入驻时间'}
                ,{field: 'shack_end_time', align:'center',with:100, title: '到期时间'}
                ,{field: 'coupon_num', align:'center',with:80, title: '租用工位数'}
                ,{field: 'coupon_num', align:'center',with:80, title: '入驻人数'}
                ,{field: 'firm_type', align:'center',with:100, title: '状态', templet:function(d){
                    
					if(d.firm_type == 1){
                    	return '<button class="j-table-button layui-bg-green">已入驻</button>';
                    }else if(d.firm_type == 2){
						return '<button class="j-table-button layui-bg-orange">已到期</button>';
                    }else if(d.firm_type == 3){
						return '<button class="j-table-button layui-bg-red">已到期</button>';
                    }
                    
                }}
                ,{title: '操作', with:300, templet: '#buttonTpl',fixed:'right'}
            ]]
        });
    });
</script>