<!DOCTYPE html>
<html>
<head>
    <title>{if condition="$hisiCurMenu['url'] eq 'system/index/index'"}管理控制台{else /}{$hisiCurMenu['title']}{/if} Powered by {:config('hisiphp.name')}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="__PUBLIC_JS__/layui/css/layui.css?v={:config('hisiphp.version')}">
    <link rel="stylesheet" href="__PUBLIC_JS__/layui/css/modules/layui-icon-extend/iconfont.css?v={:config('hisiphp.version')}">
    <link rel="stylesheet" href="__ADMIN_CSS__/theme.css?v={:config('hisiphp.version')}">
    <link rel="stylesheet" href="__ADMIN_CSS__/style.css?v={:config('hisiphp.version')}" media="all">
    <link rel="stylesheet" href="__STATIC__/fonts/typicons/min.css?v={:config('hisiphp.version')}">
    <link rel="stylesheet" href="__STATIC__/fonts/font-awesome/min.css?v={:config('hisiphp.version')}">
    <link rel="stylesheet" href="__ADMIN_CSS__/lucas-style.css?v={:config('hisiphp.version')}">
    {$hisiHead|raw}
</head>
<body class="layui-layout-body hisi-theme-{:cookie('hisi_admin_theme')}">

<div class="layui-layout layui-layout-admin">
    <div class="layui-header" style="z-index:999!important;">
        <div class="fl header-logo"><a href="{:url('system/index/index')}"><img src="__ADMIN_IMG__/j-logo.png?v={:config('hisiphp.version')}" /></a></div>
        
        <ul class="layui-nav fr nobg head-info">
           <!-- <li class="layui-nav-item">
                <a href="{:url('system/user/indexManage')}" id="j-index-manage">一般管理员账号管理</a>
            </li> -->
            <li class="layui-nav-item">
                <a href="{:url('system/user/setTheme')}" id="hisi-theme-setting" class="aicon ai-theme"></a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:void(0);">{$login['nick']}({$login['group_name']})&nbsp;&nbsp;</a>
                <dl class="layui-nav-child">
                    {// 超级管理员才可以管理一般管理员}
                    {if condition="ADMIN_ROLE == 1"}
                    <dd>
                        <a href="{:url('system/user/indexManage')}" id="j-index-manage">授权管理</a>
                    </dd>
                    {/if}
                    <dd>
                        <a href="{:url('system/publics/logout')}">退出登录</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
  
    <script type="text/html" id="hisi-theme-tpl">
        <ul class="hisi-themes">
            {volist name=":session('hisi_admin_themes')" id="vo"}
            <li data-theme="{$vo}" class="hisi-theme-item-{$vo}"></li>
            {/volist}
        </ul>
    </script>

    <!-- 修改此处的class属性layui-body改成layui-j-body -->
    <div class="layui-j-body" id="switchBody">
        <div style="padding:0 10px;" class="mcolor"></div>
        <div class="page-body">
            {switch hisiCurMenu.url}
                {case system/user/indexmanage}{include file="user/index_manage"}{/case}
                {case system/user/impower}{include file="user/impower"}{/case} 
                {default /}
            {/switch}
        </div>
    </div>
    <div class="layui-footer j-special footer">
      楚天新媒 © <a href="{:config('hisiphp.url')}" target="_blank">{:config('hisiphp.name')} v{:config('hisiphp.version')}</a>  <label>客服：027-81368886</label>
    </div>
</div>
</body>
</html>

