<div class="layui-tab layui-tab-brief j-no-color">
  <ul class="layui-tab-title">
    <li class="layui-this">编辑场地</li>
  </ul>
</div>
<form class="layui-form j-long-words j-top-margin" action="{:url()}" method="post" id="addForm">
	<div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label"><i class="red">*</i>场地名称：</label>
          <div class="layui-input-inline j-name">
            <input type="text" name="rest_name" value="{$data_info['rest_name']}" lay-verify="required" placeholder="" lay-verType="tips" autocomplete="off" class="layui-input">
          </div>
        </div>
     </div>
    <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label"><i class="red">*</i>场地类型：</label>
          <div class="layui-input-inline">
			<div class="j-words-border">会员类</div> <!-- 此处为静态需要绑定-->
            <!-- <select name="rest_type" lay-verify="required"  lay-verType="tips" class="field-cid" type="select">
				{volist name="params['rest_type']" id="v"}
				<option value="{$key}" {if condition="$data_info['rest_type'] == $key"}selected{/if}>{$v}</option>
				{/volist}
			</select> -->
          </div>
        </div>
    </div>
	<div class="layui-form-item">
	    <div class="layui-inline">
	      <label class="layui-form-label"><i class="red">*</i>所属楼宇：</label>
	      <div class="layui-input-inline">
	        <select name="ban_id" lay-verify="required"  lay-verType="tips" class="field-cid" type="select">
  			    <option value="">请选择</option>
  			    {volist name="banArr" id="v"}
  			    <option value="{$v['ban_id']}" {if condition="$data_info['ban_id'] == $v['ban_id']"}selected{/if}>{$v['ban_name']}</option>
  			    {/volist}
  			</select>
	      </div>
	    </div>
	</div>
	<div class="layui-form-item">
	      <label class="layui-form-label"><i class="red">*</i>所属楼层：</label>
	      <div class="layui-input-block" id="floor_number"></div>
	</div>
    <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label"><i class="red">*</i>可预约时段：</label>
          <div class="layui-input-inline" style="width: 190px;">
			<input type="text" name="order_start_time" value="{$data_info['order_start_time']}" class="layui-input" lay-verify="required" lay-verType="tips" id="test14" placeholder="H点m分">
		  </div>
		  <div class="layui-form-mid">-</div>
		  <div class="layui-input-inline" style="width: 190px;">
			<input type="text" name="order_end_time" value="{$data_info['order_end_time']}" class="layui-input" lay-verify="required" lay-verType="tips" id="test15" placeholder="H点m分">
		  </div>
        </div>
     </div>
	 <div class="layui-form-item">
	     <div class="layui-col-md8">
	       <label class="layui-form-label"><i class="red">*</i>门禁设备：</label>
		   <div class="layui-input-block" id="door_equipment"  lay-verType="tips"></div><!-- 此处为静态，需要绑数据 -->
	       <!-- <div class="layui-input-block j-input-facilities">
   			 <input type="checkbox" name="facility_ids[]" value="1" lay-verify="require|choiceone"  lay-verType="tips" lay-skin="primary" {if condition="strpos($data_info['facility_ids'],'|1|') !== false"}checked{/if} title="设备1">
			 <input type="checkbox" name="facility_ids[]" value="2" lay-skin="primary" {if condition="strpos($data_info['facility_ids'],'|2|') !== false"}checked{/if} title="设备2">
			 <input type="checkbox" name="facility_ids[]" value="3" lay-skin="primary" {if condition="strpos($data_info['facility_ids'],'|3|') !== false"}checked{/if} title="设备3">
	       </div> -->
	     </div>
	 </div>
	 <div class="layui-form-item">
		<div class="layui-col-md8">
	       <label class="layui-form-label"><i class="red">*</i>路径门禁：</label>
	       <div class="layui-input-block j-input-route">
	         <input type="checkbox" name="door_ids[]" value="1" lay-verify="require|choiceroute" lay-verType="tips" lay-skin="primary" {if condition="strpos($data_info['door_ids'],'|1|') !== false"}checked{/if} title="门禁1">
			 <input type="checkbox" name="door_ids[]" value="2" lay-skin="primary" {if condition="strpos($data_info['door_ids'],'|2|') !== false"}checked{/if} title="门禁2">
			 <input type="checkbox" name="door_ids[]" value="3" lay-skin="primary" {if condition="strpos($data_info['door_ids'],'|3|') !== false"}checked{/if} title="门禁3">
	       </div>
		</div>
	  </div>
	 <div class="layui-form-item">
	     <div class="layui-inline">
	       <label class="layui-form-label">容纳人数：</label>
	       <div class="layui-input-inline">
	         <input type="number" name="rest_volume" value="{$data_info['rest_volume']}" placeholder="" lay-verType="tips" autocomplete="off" class="layui-input">
	       </div>
	     </div>
	  </div>
	  <div class="layui-form-item">
	      <div class="layui-inline">
	        <label class="layui-form-label">入驻人员：</label>
	        <div class="layui-input-inline">
	  		<div class="j-words-border">张三，李四</div> <!-- 此处为静态需要绑定-->
	        </div>
	      </div>
	  </div>
	  <div class="layui-form-item">
	      <div class="layui-inline">
	        <label class="layui-form-label">入驻人数：</label>
	        <div class="layui-input-inline">
	  		<div class="j-words-border">12</div> <!-- 此处为静态需要绑定-->
	        </div>
	      </div>
	  </div>
	 <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">面积：</label>
          <div class="layui-input-inline">
            <input type="number" name="rest_area" value="{$data_info['rest_area']}" placeholder="" lay-vertype="tips" autocomplete="off" class="layui-input j-explain-input">
			<b class="j-explain-name">m²</b>
          </div>
        </div>
     </div>
	 <div class="layui-form-item">
		<div class="layui-col-md8">
			<label class="layui-form-label">场地介绍：</label>
			<div class="layui-input-block">
				<input type="text" name="rest_remark" value="{$data_info['rest_remark']}" placeholder="备注描述..." lay-vertype="tips" autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
	 <div class="layui-form-item j-positions-size">
	     <div class="layui-inline">
	       <label class="layui-form-label">场地图片：</label>
	       <div class="layui-input-block j-uplode-block">
	         	<div class="j-uplode-icon fl">
	         		<i class="layui-icon  layui-icon-add-1"></i>
	         		<button type="button" class="layui-btn layui-btn-primary" id="upload_img1">上传图片</button>
	         	</div>
	         	<div id="upload_img_list1" class="upload_img_list j-viewer-img">
	 			  {volist name="data_info['imgs']" id="vo"}
	              <dd class="item_img">
	                <div class="operate">
	                  <i class="layui-icon-close-fill layui-icon"></i>
	                </div>
	                <img data-original="{$vo['file']}" src="{$vo['file']}" class="img" />
	                <input type="hidden" name="{$vo['file_name']}">
	              </dd>
	              {/volist}
	 			</div>
	       </div>
	     </div>
	 </div> 
     {:token()}
     <input type="hidden" name="rest_id" value="{$data_info['rest_id']}">
    <div class="layui-form-item">
        <div class="layui-input-block">
          <a href="javascript:history.go(-1)" class="layui-btn layui-btn-primary">取消</a>
          <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="formSubmit">确定</button>
        </div>
     </div>
</form>
{include file="system@block/layui" /}
<script>
	var tagData = [{"id":0,"name":"1楼","status":0},{"id":1,"name":"1楼","check":"1"},{"id":2,"name":"2楼"},{"id":3,"name":"3楼"},{"id":4,"name":"4楼"},{"id":5,"name":"5楼"},{"id":6,"name":"6楼"}];  
	var doorData = [{"id":1,"name":"门禁1"},{"id":2,"name":"门禁2"},{"id":3,"name":"门禁3"},{"id":4,"name":"门禁4"},{"id":5,"name":"门禁5"},{"id":6,"name":"门禁6"}];
	/*上传参数设定*/
	var upurl = "{:url('system/Api/upload')}?input=RestImg&group=ban&water=no"; //上传楼层平面图
	var duotu = true; //是否为多图上传true false
	 layui.use(['jquery', 'laydate', 'upload', 'form','selectN','selectM'], function() {
		var laydate = layui.laydate,
			$ = layui.$,
			upload = layui.upload,
			form = layui.form,
			selectN = layui.selectN,
			selectM = layui.selectM;
		//自定义验证规则
		 form.verify({
					/* choiceone: function () {
				 if ($("input[name='facility_ids[]']:checked").length == 0) {
							 return '请选择门禁设备';
				 }
			  }, */
				choiceroute: function () {
				   if ($("input[name='door_ids[]']:checked").length == 0) {
						 return '请选择路径门禁';
				   } 
				  
				}
					
		});
		//场地图片
		upload.render({
			elem: '#upload_img1',
			url: upurl,
			size: 1024,
			multiple: duotu,
			field: 'RestImg',
			before: function(obj) {
				layer.msg('图片上传中...', {
					icon: 16,
					shade: 0.01,
					time: 0
				})
			},
			done: function(res) {
				layer.close(layer.msg()); //关闭上传提示窗口
				if (duotu == true) {
					//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list1').append('<dd class="item_img" id="' + res.data.name +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="file[]" value="' + res.data.id + '" /></dd>');
				} else {
					//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list1').html('<dd class="item_img" id="' + res.data.name +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="file" value="' + res.data.id + '" /></dd>');
				}
			}
		})
		/*
		删除上传图片
		*/
		$(document).on("click", ".upload_img_list dd i", function() {
			$(this).parents("dd").remove();
		})

		var formData = '{$data_info['floor_number']}';
		if(formData){
			var strs = formData.split("|"); 
			var seletedFloorNumber = strs.filter(function(s){
				return s && s.trim();
			}); 
			console.log('被选中的楼层id：'+seletedFloorNumber);
		}
		
		//console.log(formData);
		//多选标签-基本配置
		var tagIns1 = selectM({
		  //元素容器【必填】
		  elem: '#floor_number'
		  //候选数据【必填】
		  ,data: tagData
		  ,selected: seletedFloorNumber
		  //,max:10
		  ,width:400
		  //添加验证
		  ,verify:'required'      
		}); 
		//多选标签-门禁设备
		var tagIns2 = selectM({
		  //元素容器【必填】
		  elem: '#door_equipment'
		  //候选数据【必填】
		  ,data: doorData
		  //,max:10
		  ,width:400
		  //添加验证
		  ,verify:'required'      
		}); 
		 //时间选择器
			laydate.render({
			elem: '#test14'
			,type: 'time'
			,format: 'HH:mm'
		  });
		  laydate.render({
		elem: '#test15'
		,type: 'time'
		,format: 'HH:mm'
		  });
	});
	//图片查看
	/* $(".j-viewer-img").on("click",function(){
		$(this).viewer({
			url: 'data-original',
		 });
	}) */
	
</script>
