<div class="j-indent-boxs">
	<div class="layui-btn-group j-add-group clearfix">
		<a href="{:url('add')}" class="layui-btn layui-btn-primary layui-btn-sm layui-icon"><i class="layui-icon layui-icon-add-1"></i>新增楼宇</a>
	</div>
	<div class="page-toolbar j-page-toolbar clearfix">
		  <form class="layui-form layui-form-pane" action="{url('index')}"  method="get" id="hisi-table-search">
			<div class="j-search-fl">
				  <div class="layui-input-inline j-input-margin" style="width:150px;">
					  <input type="text" name="ban_name" placeholder="楼宇名称" class="layui-input">
				  </div>
				  <div class="layui-input-inline j-input-margin" style="width:150px;">
					  <input type="text" name="ban_address" placeholder="楼宇地址" class="layui-input">
				  </div>
				  
				  <button type="reset" class="layui-btn j-btn-reset">重置</button>
				  <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
					  <i class="layui-icon">&#xe615;</i>
					  搜索
				  </button>
			</div>
		  </form>
	  </div>
	<table id="dataTable" lay-filter='dataTable'></table>
	{include file="system@block/layui" /}
	<script type="text/html" title="操作按钮模板" id="buttonTpl">
		<div class="j-operation-box">
			<a href="{:url('edit')}?id={{ d.ban_id }}" class="layui-btn layui-btn-xs layui-btn-normal">编辑</a>
			<a href="{:url('del')}?id={{ d.ban_id }}" hisi-data="{width: '400px', height: '240px'}" title="密码校验" class="layui-btn layui-btn-xs layui-btn-danger j-iframe-pop">删除</a>
		</div>
	</script>
	<script type="text/html" id="toolbar"></script>
</div>
<script type="text/javascript">
    layui.use(['table','jquery'], function() {
        var $ = layui.$
		    ,table = layui.table;
        table.render({
            elem: '#dataTable'
            ,url: '{:url()}' //数据接口
            ,page: true //开启分页
			,height: 'full-230'
            ,skin: 'line'
            //,even: false
            ,limit: 10
            ,text: {
                none : '暂无相关数据'
            }
            ,cols: [[ //表头
            	{field: '', align:'left',minWidth:80, title: '序号', templet:function(d){
                    return d.LAY_INDEX ;
                }}
                ,{field: 'ban_name', align:'left',minWidth:100, title: '楼宇名称'}
                ,{field: 'ban_address',align:'left',minWidth:150, title: '地址'}
				,{field: 'floor_numbers',align:'left',minWidth:100, title: '包含楼层数'}
				,{field: 'floor_areas',align:'left',minWidth:100, title: '面积'}
                ,{title: '操作', minWidth:280, with:280,align:'left',templet: '#buttonTpl',fixed:'right'}
            ]]
        });
        $(document).on('click', '.j-tr-pop-del', function() {
			$(".layui-layer-btn").after($(".layui-layer-btn1"));
	        var that = $(this),
	            href = !that.attr('data-href') ? that.attr('href') : that.attr('data-href');
	        layer.open('删除之后无法恢复，您确定要删除吗？', {icon: 7,title:false, closeBtn:0,offset: 'auto', btn: ['确定','取消']}, function(index){
	            if (!href) {
	                layer.msg('请设置data-href参数');
	                return false;
	            }
	            $.get(href, function(res) {
	                if (res.code == 0) {
	                    layer.msg(res.msg);
	                } else {
	                    that.parents('tr').remove();
	                }
	            });
	            layer.close(index);
	        });
	        return false;
	    });
    });
</script>