<!-- 在线服务/通知公告/公告管理/发布公告 -->
<!-- <div class="layui-tab layui-tab-brief j-no-color">
  <ul class="layui-tab-title">
    <li class="layui-this">公告详情</li>
  </ul>
</div> -->
<form class="layui-form j-top-margin j-long-words" action="{:url('edit')}" method="post">
	<div class="layui-form-item">
		{$data_info['title']}
	</div>
	<div class="layui-form-item">
		{$data_info['cuid']} 发布于 { {$data_info['ctime']} }
	</div>
	<div class="layui-form-item">
		紧急程度：{$params.urgent_level[$data_info['urgent_level']]}
	</div>
	<div class="layui-form-item">
		授权级别：{$params.authorize_level[$data_info['authorize_level']]}
	</div>
	<div class="layui-form-item">
		{:htmlspecialchars_decode($data_info['content'])}
	</div>

	<!-- <div class="layui-form-item">
		<div class="layui-input-block">
			<a href="javascript:history.go(-1)" class="layui-btn layui-btn-primary">取消</a>
			<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="formSubmit">确认</button>
		</div>
	</div> -->
</form>
{include file="system@block/layui" /}