<link rel="stylesheet" href="__ADMIN_JS__/step-lay/step.css?v={:config('hisiphp.version')}">
<!-- 内容区 -->
 <div class="layui-tab layui-tab-brief j-no-color">
	 <ul class="layui-tab-title">
	   <li class="layui-this">企业入驻</li>
	 </ul>
   </div>
  <div class="layui-carousel j-carousel-box" id="stepForm" lay-filter="stepForm" style="margin: 0 auto;">
	 <div carousel-item>
		   <form class="layui-form j-top-margin j-long-words" action="{:url()}" method="post" id="addForm">
			<div class="layui-form-item">
				   <div class="layui-col-md8">
					 <label class="layui-form-label"><i class="red">*</i>企业名称：</label>
					 <div class="layui-input-block j-name j-position">
					   <input type="text" id="deptName" name="firm_name"  lay-verType="tips" autocomplete="off" placeholder="请输入部门"
					    class="layui-input" />
					   <button class="layui-btn layui-btn-normal">
						  <i class="layui-icon"></i>校验
						 </button>
					   <div class="j-tips">( <i class="layui-icon layui-icon-tips"></i> 请使用营业执照上企业名称全名 )</div>
					 </div>
				   </div>
			 </div>
			 <div class="layui-form-item">
				 <div class="layui-inline">
				   <label class="layui-form-label"><i class="red">*</i>联系人姓名：</label>
				   <div class="layui-input-inline">
					 <input type="text" name="firm_manager" placeholder="请输入" lay-verType="tips" autocomplete="off" class="layui-input">
				   </div>
				 </div>
			  </div>
			  <div class="layui-form-item">
				  <div class="layui-inline">
					<label class="layui-form-label"><i class="red">*</i>联系人电话：</label>
					<div class="layui-input-inline">
					  <input type="text" name="firm_tel"   placeholder="请输入" lay-verType="tips" autocomplete="off" class="layui-input">
					</div>
				  </div>
			   </div>
			   <div class="layui-form-item">
				   <div class="layui-inline">
					 <label class="layui-form-label">社会信用代码：</label>
					 <div class="layui-input-inline">
					   <input type="text" name="firm_credit_code"  placeholder="请输入" lay-verType="tips" autocomplete="off" class="layui-input">
					 </div>
				   </div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
					  <label class="layui-form-label">所属行业：</label>
					  <div class="layui-input-inline">
						<select name="firm_industry_type"  lay-verType="tips" class="field-cid" type="select">
				             <option value="">请选择</option>
				             {volist name="params['firm_industry_type']" id="v"}
				             <option value="{$key}">{$v}</option>
				             {/volist}
				         </select>
					  </div>
					</div>
				 </div>
				 <div class="layui-form-item">
					 <div class="layui-inline">
					   <label class="layui-form-label">注册资本：</label>
					   <div class="layui-input-inline">
						 <input type="text" name="firm_registered_capital"  placeholder="请输入" lay-verType="tips" autocomplete="off" class="layui-input">
						 <b class="j-explain-name">万元</b>
					   </div>
					 </div>
				  </div>
				  <div class="layui-form-item">
					  <div class="layui-inline">
						<label class="layui-form-label">法人姓名：</label>
						<div class="layui-input-inline">
						  <input type="text" name="persons_name"   placeholder="请输入" lay-verType="tips" autocomplete="off" class="layui-input">
						</div>
					  </div>
				   </div>
				   <div class="layui-form-item">
					  <div class="layui-inline">
						<label class="layui-form-label">成立日期：</label>
						<div class="layui-input-inline">
						  <input type="text" name="business_date"  placeholder="请选择日期" lay-vertype="tips" autocomplete="off" class="layui-input j-explain-input" id="test1">
						  <b class="j-explain-name"><i class="layui-icon layui-icon-date"></i></b>
						</div>
					  </div>
				   </div>
				   <div class="layui-form-item">
					   <div class="layui-col-md8">
						 <label class="layui-form-label">注册地址：</label>
						 <div class="layui-input-block">
						   <input type="text" name="business_address"  placeholder="请输入" lay-verType="tips" autocomplete="off" class="layui-input">
						 </div>
					   </div>
					</div>
					<div class="layui-form-item">
						   <div class="layui-col-md8">
							 <label class="layui-form-label">经营范围：</label>
							 <div class="layui-input-block">
							   <input type="text" name="business_scope"  placeholder="范围描述" lay-verType="tips" autocomplete="off" class="layui-input">
							 </div>
						   </div>
					 </div>
					 <div class="layui-form-item j-positions-size">
						 <div class="layui-inline">
						   <label class="layui-form-label">营业执照：</label>
						   <div class="layui-input-block j-uplode-block">
							  <div class="j-uplode-icon fl">
								<i class="layui-icon  layui-icon-add-1"></i>
								<button type="button" class="layui-btn layui-btn-primary" id="upload_img1">上传图片</button>
							  </div>
							  <div id="upload_img_list1" class="upload_img_list j-viewer-img">
							
						  </div>
						   </div>
						 </div>
					 </div> 
					 <div class="layui-form-item">
						<div class="layui-inline">
						  <label class="layui-form-label j-line-height">会议室抵用券发放数量：</label>
						  <div class="layui-input-inline">
							<input  type="number" name="business_voucher"  placeholder="" lay-vertype="tips" autocomplete="off" class="layui-input j-explain-input">
							<b class="j-explain-name">张/月</b>
						  </div>
						</div>
					 </div>
					<div class="layui-form-item">
					   <div class="layui-inline">
						 <label class="layui-form-label">发放起始时间：</label>
						 <div class="layui-input-inline">
						   <input type="text" name="business_time"  placeholder="请选择日期" lay-vertype="tips" autocomplete="off" class="layui-input j-explain-input" id="test2">
						   <b class="j-explain-name"><i class="layui-icon layui-icon-date"></i></b>
						 </div>
					   </div>
					</div>
					<div class="layui-form-item">
						   <div class="layui-col-md8">
							 <label class="layui-form-label">备注：</label>
							 <div class="layui-input-block">
							   <input type="text" name="business_remarks"  placeholder="备注描述..." lay-verType="tips" autocomplete="off" class="layui-input">
							 </div>
						   </div>
					 </div>
			   <div class="layui-form-item j-item-top">
				   <div class="layui-input-block">
					 <button type="reset" class="layui-btn layui-btn-primary">取消</button>
					 <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="formStep">确定</button>
				   </div>
				</div>
		   </form>
		   
			<form class="layui-form j-top-margin j-long-words" action="{:url()}" method="post" >
				<div class="layui-form-item">
					<div class="layui-inline">
					  <label class="layui-form-label"><i class="red">*</i> 入驻时间：</label>
					  <div class="layui-input-inline" style="width: 190px;">
				  <input type="text" name="order_start_time" class="layui-input"  lay-vertype="tips" id="test3" placeholder="请选择时间">
				  </div>
				  <div class="layui-form-mid">-</div>
				  <div class="layui-input-inline" style="width: 190px;">
				  <input type="text" name="order_end_time" class="layui-input"  lay-vertype="tips" id="test4" placeholder="请选择时间">
				  </div>
					</div>
				 </div>
				  <div class="layui-form-item">
				     <div class="layui-inline">
				       <label class="layui-form-label"><i class="red">*</i>楼宇：</label>
				       <div class="layui-input-inline">
				         <select name="ban_id"  lay-verType="tips" class="field-cid" type="select">
				             <option value="">请选择</option>
				             <option value="1">楼宇1</option>
				         </select>
				       </div>
				     </div>
				 </div>
				 <div class="layui-form-item">
				       <label class="layui-form-label"><i class="red">*</i>楼层：</label>
				       <div class="layui-input-block" id="floor_number"  lay-verType="tips"></div>
				 </div>
				 <div class="layui-form-item">
				       <label class="layui-form-label"><i class="red">*</i>联合工位区：</label>
				       <div class="layui-input-block">
						   <div id="transfer1" class="demo-transfer"></div>
					   </div>
				 </div>
				  <div class="layui-form-item">
				       <label class="layui-form-label"><i class="red">*</i>独立工位区：</label>
				       <div class="layui-input-block">
						   <div id="transfer2" class="demo-transfer"></div>
					   </div>
				 </div>
				 <div class="layui-form-item" pane="">
				     <label class="layui-form-label"><i class="red">*</i>门禁：</label>
				     <div class="layui-input-inline">
				       <select name="" class="field-role_id"  lay-verType="tips" lay-filter="filter" type="select">
				             <option value="">请选择</option>
				             {volist name="guardArr" id="v"}
				             {if condition="$v['pid'] == 0"}
				             <option value="{$v['id']}">{$v['title']}</option>
				             {/if}
				             {/volist}
				         </select>
				     </div>
				 </div>
				 <div class="layui-form-item j-hides hide">
				       <label class="layui-form-label"></label>
				       <div class="layui-input-block">
				          <div id="firstpane" class="menu_list"></div>
				       </div>
				 </div>
				<div class="layui-form-item">
					   <div class="layui-col-md8">
						 <label class="layui-form-label">备注：</label>
						 <div class="layui-input-block">
						   <input type="text" name="business_remarks"  placeholder="备注描述..." lay-verType="tips" autocomplete="off" class="layui-input">
						 </div>
					   </div>
				 </div>
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button type="button" class="layui-btn layui-btn-primary pre">返回上一步</button>
						<button type="reset" class="layui-btn layui-btn-primary">取消</button>
						<button class="layui-btn layui-btn-normal" lay-submit lay-filter="formStep2">确认</button>
					</div>
				</div>
			</form>
			<form class="layui-form j-top-margin j-long-words" action="{:url()}" method="post" >
			  <div class="j-padding-box">
				<div class="j-admin-box clearfix">
					<div class="j-admin-title clearfix">
						<span class="j-name fl">管理员<label class="j-tips">( <i class="layui-icon layui-icon-tips"></i> 拥有企业所有管理权限 )</label></span>
						<span class="j-button fr">
							<button  class="layui-btn layui-btn-normal layui-btn-sm layui-icon"><i class="layui-icon layui-icon-download-circle"></i>批量导入</button>
				       </span>
					</div>
					<div class="j-admin-con clearfix">
						<div class="j-admin-list clearfix">
							<ul>
								<li  class="j-required-li">
									 <input type="text" name="admin_name"  lay-verify="required"  placeholder="姓名" lay-verType="tips" autocomplete="off" class="layui-input j-required-input">
									 <i class="red">*</i>
								</li>
								<li  class="j-required-li">
									 <input type="text" name="admin_phone"  lay-verify="required|phone"  placeholder="电话" lay-verType="tips" autocomplete="off" class="layui-input j-required-input">
									 <i class="red">*</i>
								</li>
								<li>
									 <input type="text" name="admin_position"  placeholder="职位" lay-verType="tips" autocomplete="off" class="layui-input">
								</li>
								<li>
									 <input type="text" name="admin_sectors"  placeholder="部门" lay-verType="tips" autocomplete="off" class="layui-input">
								</li>
								<li>
									 <input type="text" name="admin_number"  placeholder="身份证号" lay-verType="tips" autocomplete="off" class="layui-input">
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="j-admin-box j-staff clearfix">
					<div class="j-admin-title clearfix">
						<span class="j-name fl">一般员工</span>
					</div>
					<div class="j-admin-con clearfix">
						<div class="j-admin-list clearfix">
							<ul>
								<li class="j-required-li">
									 <input type="text" name="admin_name"  lay-verify="required"  placeholder="姓名" lay-verType="tips" autocomplete="off" class="layui-input  j-required-input">
									 <i class="red">*</i>
								</li>
								<li  class="j-required-li">
									 <input type="text" name="admin_phone"  lay-verify="required|phone"  placeholder="电话" lay-verType="tips" autocomplete="off" class="layui-input j-required-input">
									 <i class="red">*</i>
								</li>
								<li>
									 <input type="text" name="admin_position"  placeholder="职位" lay-verType="tips" autocomplete="off" class="layui-input">
								</li>
								<li>
									 <input type="text" name="admin_sectors"  placeholder="部门" lay-verType="tips" autocomplete="off" class="layui-input">
								</li>
								<li>
									 <input type="text" name="admin_number"  placeholder="身份证号" lay-verType="tips" autocomplete="off" class="layui-input">
								</li>
							</ul>
						</div>
						<div class="j-add-personnel"><i class="layui-icon layui-icon-add-1"></i><label>添加人员</label></div>
					</div>
				</div>
				<div class="layui-form-item j-right-button">
					<div class="layui-input-block">
						<button type="button" class="layui-btn layui-btn-primary pre">返回上一步</button>
						<button type="reset" class="layui-btn layui-btn-primary">取消</button>
						<button class="layui-btn layui-btn-normal" lay-submit lay-filter="formStep3">完成</button>
					</div>
				</div>
			 </div>
			</form>
   </div>
 </div>
<!-- 内容区 -->
{include file="system@block/layui" /}
<script src="__ADMIN_JS__/viewjs/folded.js?v={:config('hisiphp.version')}"></script>
<script type="text/javascript">   
           var tagData = [{"id":1,"name":"1楼"},{"id":2,"name":"2楼"},{"id":3,"name":"3楼"},{"id":4,"name":"4楼"},{"id":5,"name":"5楼"},{"id":6,"name":"6楼"}];  
		  /*上传参数设定*/
		  var upurl = "{:url('system/Api/upload')}?input=licence&group=ban&water=no"; //上传楼层平面图
		  var duotu = true; //是否为多图上传true false
		   layui.use(['jquery', 'laydate', 'upload', 'form', 'step','selectN','selectM','transfer','util', 'layer','yutons_sug'], function() {
		    var laydate = layui.laydate,
		      $ = layui.$,
		      upload = layui.upload,
		      form = layui.form,
			  transfer = layui.transfer,
			  layer = layui.layer,
			  step = layui.step,
			  selectN = layui.selectN,
			  selectM = layui.selectM,
			  util = layui.util,
			  yutons_sug = layui.yutons_sug;
			  //模拟数据
			  var data1 = [
			  				{"value": "1", "title": "李白"}
			  				,{"value": "2", "title": "杜甫"}
			  				,{"value": "3", "title": "苏轼"}
			  				,{"value": "4", "title": "李清照"}
			  				,{"value": "5", "title": "鲁迅"}
			  				,{"value": "6", "title": "巴金"}
			  				,{"value": "7", "title": "冰心"}
			  				,{"value": "8", "title": "矛盾"}
			  				,{"value": "9", "title": "贤心"}
			  				,{"value": "10", "title": "冰心"}
			  				,{"value": "11", "title": "矛盾"}
			  				,{"value": "12", "title": "贤心"}
			  				
			  ];
			  
			  //搜索
			  //sessionStorage.setItem("/admin.php/system/api/ceshi", data2);
			  //初始化部门输入提示框
			   yutons_sug.render({
				id: "deptName", //设置容器唯一id
				type: 'sug', //设置输入框提示类型：sug-下拉框，sugTable-下拉表格
				url: "/admin.php/system/api/ceshi?keywords=" //设置异步数据接口,url为必填项
			  });
			  
			 
			  //穿梭框显示搜索框
			  transfer.render({
				elem: '#transfer1'
				,data: data1
				,title: ['全选', '全选']
				,showSearch: true
			  });
			  //独立办公区
			   transfer.render({
				elem: '#transfer2'
				,data: data1
				,title: ['全选', '全选']
				,showSearch: true
			  });
		    //场地图片
		    upload.render({
		      elem: '#upload_img1',
		      url: upurl,
		      size: 1024,
		      multiple: duotu,
		      field: 'licence',
		      before: function(obj) {
		        layer.msg('图片上传中...', {
		          icon: 16,
		          shade: 0.01,
		          time: 0
		        })
		      },
		      done: function(res) {
		        layer.close(layer.msg()); //关闭上传提示窗口
		        if (duotu == true) {
		          //调用多图上传方法,其中res.imgid为后台返回的一个随机数字
		          $('#upload_img_list1').append('<dd class="item_img" id="' + res.data.name +
		            '"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
		            '" class="img" ><input type="hidden" name="file[]" value="' + res.data.id + '" /></dd>');
		        } else {
		          //调用单图上传方法,其中res.imgid为后台返回的一个随机数字
		          $('#upload_img_list1').html('<dd class="item_img" id="' + res.data.name +
		            '"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
		            '" class="img" ><input type="hidden" name="file" value="' + res.data.id + '" /></dd>');
		        }
		      }
		    })
		    /*
		    删除上传图片
		    */
		    $(document).on("click", ".upload_img_list dd i", function() {
		      $(this).parents("dd").remove();
		    })
			//门禁
			form.on('select(filter)', function(data){
			 $(".j-hides").show();
			  var guards = {:json_encode($guardArr)};
			  //console.log(guards);
			  for (var i = 0 ; i < guards.length; i++) {
			    if(guards[i].id == data.value){
			      var bans = guards[i].childs;
			      var str = '';
			
			      if(bans.length > 0){
			        for (var j = 0 ; j < bans.length; j++) {
			          if(j==0){
			            var current = 'current';
						  var hide = '';
			          }else{
			            var current = '';
						  var hide = 'hide';
			          }
			          str += '<div class="menu_head '+current+'"><input type="checkbox" name="ban[]" value="'+ bans[j].id +'" title="'+bans[j].title +'"  lay-skin="primary" lay-filter="chooseAll" class="chooseAllMessage"><b class="j-icon"></b></div><div class="menu_body '+hide+'" >';
			          var floors = bans[j].childs;
			
			          if(floors.length > 0){
			            for (var k = 0 ; k < floors.length; k++) {
			              str += '<dl class="clearfix">\
			                        <dt class="clearfix"><input type="checkbox" name="floor[]" value="'+ floors[k].id +'" title="'+ floors[k].title+'"  lay-skin="primary" lay-filter="secondAll" class="secondAllMessage list"></dt><dd class="clearfix">\
			                            <ul>';
			              var guards = floors[k].childs;
			              if(guards.length > 0){
			                for (var h = 0 ; h < guards.length; h++) {
			                  str += '<li>\
			                             <input type="checkbox" name="guard[]" value="'+ guards[h].id +'" title="'+guards[h].title+'"  lay-skin="primary" lay-filter="list" class="listMessage list"> \
			                          </li>';
			                }
			              }
			              str += '</ul>\
			                        </dd></dl>';
			            }  
			          }
			          str += '</div>';
			
			        }   
			        str += '</div>';     
			        //console.log(str);
			        $('#firstpane').html(str);
			        form.render();
			      }
			      
			    }
			  }
			});
			//多选标签-基本配置
			var tagIns1 = selectM({
			  //元素容器【必填】
			  elem: '#floor_number'
			  //候选数据【必填】
			  ,data: tagData
			  //,max:10
			  ,width:400
			  //添加验证
			  ,verify:'required'      
			});
			//成立日期
			laydate.render({
				elem: '#test1'
				
			});
			//发放起始时间
			laydate.render({
				elem: '#test2'
			});
			//入驻开始时间
			laydate.render({
				elem: '#test3'
			});
			//入驻结束时间
			laydate.render({
				elem: '#test4'
			});
			//分步表单提交
			 step.render({
			    elem: '#stepForm',
			    filter: 'stepForm',
			    width: '100%', //设置容器宽度
			    //stepWidth: '750px',
			    height: '100%',
			    stepItems: [{
			        title: '录入企业信息'
			    }, {
			        title: '分配工位'
			    }, {
			        title: '录入员工信息'
			    }]
			});
			 form.on('submit(formStep)', function (data) {
			    step.next('#stepForm');
			    return false;
			});
			
			form.on('submit(formStep2)', function (data) {
			    step.next('#stepForm');
			    return false;
			});
			//上一步
			 $('.pre').click(function () {
			    step.pre('#stepForm');
			});
			//添加删除一般员工
			$('.j-add-personnel').click(function(){
			    var html = `<div class="j-admin-list clearfix">
							<ul>
								<li class="j-required-li">
									 <input type="text" name="admin_name"  lay-verify="required"  placeholder="姓名" lay-verType="tips" autocomplete="off" class="layui-input j-required-input">
									 <i class="red">*</i>
								</li>
								<li class="j-required-li">
									 <input type="text" name="admin_phone"  lay-verify="required|phone"  placeholder="电话" lay-verType="tips" autocomplete="off" class="layui-input j-required-input">
									 <i class="red">*</i>
								</li>
								<li>
									 <input type="text" name="admin_position"  placeholder="职位" lay-verType="tips" autocomplete="off" class="layui-input">
								</li>
								<li>
									 <input type="text" name="admin_sectors"  placeholder="部门" lay-verType="tips" autocomplete="off" class="layui-input">
								</li>
								<li>
									 <input type="text" name="admin_number"  placeholder="身份证号" lay-verType="tips" autocomplete="off" class="layui-input">
								</li>
							</ul>
							<i class="icon-cancel j-del"></i>
						</div>`;
			    $('.j-add-personnel').prev(".j-admin-list").after(html);
			});
			$('.j-admin-con').on('click','.j-del',function(){
			    var that = $(this);
			    that.parent().remove();
			});
			
			

			
		  });
		  //图片查看
		  /* $(".j-viewer-img").on("click",function(){
		    $(this).viewer({
		      url: 'data-original',
		     });
		  }) */
		  
		</script>