<!-- 内容区 -->
<div class="layui-tab layui-tab-brief j-no-color">
  <ul class="layui-tab-title">
    <li class="layui-this">自由工位区入驻</li></ul>
</div>
<form class="layui-form j-top-margin j-long-words" action="{:url('firm/add')}" method="post" id="addForm">
  <div class="layui-form-item">
    <div class="layui-col-md8">
      <label class="layui-form-label">
        <i class="red">*</i>姓名：</label>
      <div class="layui-input-block j-name j-position">
        <input type="text" id="deptName" name="firm_name" lay-verType="tips" autocomplete="off" placeholder="请输入部门" class="layui-input" />
        <button class="layui-btn layui-btn-normal j-jiaoyan">
          <i class="layui-icon"></i>校验</button></div>
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">
        <i class="red">*</i>电话：</label>
      <div class="layui-input-inline">
        <input type="tel" name="firm_tel" lay-verify="required|phone" placeholder="请输入" lay-verType="tips" autocomplete="off" class="layui-input"></div>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">性别：</label>
    <div class="layui-input-block">
      <input type="radio" name="sex" value="男" title="男" checked="">
      <input type="radio" name="sex" value="女" title="女"></div>
  </div>
  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">身份证号：</label>
      <div class="layui-input-inline">
        <input type="text" name="firm_tel" placeholder="请输入" lay-verType="tips" autocomplete="off" class="layui-input"></div>
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">
        <i class="red">*</i>入驻时间：</label>
      <div class="layui-input-inline" style="width: 190px;">
        <input type="text" name="firm_start_time" class="layui-input" lay-verify="required" lay-vertype="tips" id="test3" placeholder="请选择时间"></div>
      <div class="layui-form-mid">-</div>
      <div class="layui-input-inline" style="width: 190px;">
        <input type="text" name="firm_end_time" class="layui-input" lay-verify="required" lay-vertype="tips" id="test4" placeholder="请选择时间"></div>
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">
        <i class="red">*</i>场地选择：</label>
      <div class="layui-input-inline">
        <select name="ban_id" lay-verify="required" lay-verType="tips" class="field-cid" type="select">
          <option value="">请选择</option>
          <option value="1">自由工位区</option></select>
      </div>
    </div>
  </div>
  <div class="layui-form-item" pane="">
    <label class="layui-form-label">
      <i class="red">*</i>门禁：</label>
    <div class="layui-input-inline">
      <select name="" class="field-role_id" lay-verify="required" lay-verType="tips" lay-filter="filter" type="select">
        <option value="">请选择</option>{volist name="guardArr" id="v"} {if condition="$v['pid'] == 0"}
        <option value="{$v['id']}">{$v['title']}</option>{/if} {/volist}</select></div>
  </div>
  <div class="layui-form-item j-hides hide">
    <label class="layui-form-label"></label>
    <div class="layui-input-block">
      <div id="firstpane" class="menu_list"></div>
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-col-md8">
      <label class="layui-form-label">备注：</label>
      <div class="layui-input-block">
        <input type="text" name="firm_remark" placeholder="备注描述..." lay-verType="tips" autocomplete="off" class="layui-input"></div>
    </div>
  </div>
  <input type="hidden" name="firm_id" value="">
  <div class="layui-form-item j-item-top">
    <div class="layui-input-block">
      <button type="reset" class="layui-btn layui-btn-primary">取消</button>
      <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="formStep">确定</button></div>
  </div>
</form>
<!-- 内容区 -->
{include file="system@block/layui" /}
<script src="__ADMIN_JS__/viewjs/folded.js?v={:config('hisiphp.version')}"></script>
<script type="text/javascript">   
   layui.use(['jquery', 'laydate', 'upload', 'form', 'step','selectN','selectM','transfer','util', 'layer','yutons_sug'], function() {
	var laydate = layui.laydate,
	  $ = layui.$,
	  upload = layui.upload,
	  form = layui.form,
	  transfer = layui.transfer,
	  layer = layui.layer,
	  step = layui.step,
	  selectN = layui.selectN,
	  selectM = layui.selectM,
	  util = layui.util,
	  yutons_sug = layui.yutons_sug;

	  //搜索
	  //sessionStorage.setItem("/admin.php/system/api/ceshi", data2);
	  //初始化部门输入提示框
	   yutons_sug.render({
		id: "deptName", //设置容器唯一id
		height: "167",
		cols: [
			[{
				field: 'userName',
				title: '姓名'
			}, {
				field: 'userCode',
				title: '公司'
			}, {
				field: 'deptName',
				title: '联系电话'
			}]
		], //设置表头
		params: [
		{
			name: 'userName',
			field: 'userName'
		}, {
			name: 'userCode',
			field: 'userCode'
		}, {
			name: 'deptName',
			field: 'deptName'
		}],
		type: 'sugTable', //设置输入框提示类型：sug-下拉框，sugTable-下拉表格
		url: "/admin.php/project/shack/getFirms?keywords=" //设置异步数据接口,url为必填项
	  });
	 
	//门禁
	form.on('select(filter)', function(data){
	 $(".j-hides").show();
	  var guards = {:json_encode($guardArr)};
	  //console.log(guards);
	  for (var i = 0 ; i < guards.length; i++) {
		if(guards[i].id == data.value){
		  var bans = guards[i].childs;
		  var str = '';
	
		  if(bans.length > 0){
			for (var j = 0 ; j < bans.length; j++) {
			  if(j==0){
				var current = 'current';
				  var hide = '';
			  }else{
				var current = '';
				  var hide = 'hide';
			  }
			  str += '<div class="menu_head '+current+'"><input type="checkbox" name="ban[]" value="'+ bans[j].id +'" title="'+bans[j].title +'"  lay-skin="primary" lay-filter="chooseAll" class="chooseAllMessage"><b class="j-icon"></b></div><div class="menu_body '+hide+'" >';
			  var floors = bans[j].childs;
	
			  if(floors.length > 0){
				for (var k = 0 ; k < floors.length; k++) {
				  str += '<dl class="clearfix">\
							<dt class="clearfix"><input type="checkbox" name="floor[]" value="'+ floors[k].id +'" title="'+ floors[k].title+'"  lay-skin="primary" lay-filter="secondAll" class="secondAllMessage list"></dt><dd class="clearfix">\
								<ul>';
				  var guards = floors[k].childs;
				  if(guards.length > 0){
					for (var h = 0 ; h < guards.length; h++) {
					  str += '<li>\
								 <input type="checkbox" name="guard[]" value="'+ guards[h].id +'" title="'+guards[h].title+'"  lay-skin="primary" lay-filter="list" class="listMessage list"> \
							  </li>';
					}
				  }
				  str += '</ul>\
							</dd></dl>';
				}  
			  }
			  str += '</div>';
	
			}   
			str += '</div>';     
			//console.log(str);
			$('#firstpane').html(str);
			form.render();
		  }
		  
		}
	  }
	});
	//多选标签-基本配置
	var tagIns1 = selectM({
	  //元素容器【必填】
	  elem: '#floor_number'
	  //候选数据【必填】
	  ,data: tagData
	  //,max:10
	  ,width:400
	  //添加验证
	  //,verify:'required'      
	});
	//入驻开始时间
	laydate.render({
		elem: '#test3'
	});
	//入驻结束时间
	laydate.render({
		elem: '#test4'
	});	
  }); 
</script>
