<!-- 内容区 -->
<div class="layui-tab layui-tab-brief j-no-color">
 <ul class="layui-tab-title">
   <li class="layui-this">详情</li>
 </ul>
</div>
<div class="j-details-from">
 <form class="layui-form j-top-margin"  method="post" id="addForm">
  <div class="layui-form-item">
	  <label class="layui-form-label">操作人：</label>
	  <div class="layui-input-block">
		<div class="j-words-border">{$systemusers[$data_info['cuid']]['nick']}</div>
	  </div>
 </div>
 <div class="layui-form-item">
	  <label class="layui-form-label">操作时间：</label>
	  <div class="layui-input-block">
		<div class="j-words-border">{$data_info['ctime']}</div>
	  </div>
 </div>
 <div class="layui-form-item">
	  <label class="layui-form-label">类型：</label>
	  <div class="layui-input-block">
		<div class="j-words-border">
		{volist name="$shack_type" id="vo"}
		{$params['shack_type'][$vo]}
		{/volist}
		</div>
	  </div>
 </div>


   <!-- 当前状态S -->
   <fieldset class="layui-elem-field layui-field-title j-size-color" style="margin-top: 20px;">
	 <legend>当前状态</legend>
   </fieldset>
   <div class="layui-form-item">
	  <label class="layui-form-label">入驻时间：</label>
	  <div class="layui-input-block">
		<div class="j-words-border">{$data_info['shack_start_time']} ~ {$data_info['shack_end_time']}</div>
	  </div>
   </div>
   <div class="layui-form-item">
	  <label class="layui-form-label">楼宇：</label>
	  <div class="layui-input-block">
		<div class="j-words-border">|
		{volist name="banNames" id="vo"}
		{$vo}栋 |
		{/volist}
		</div>
	  </div>
   </div>
   <div class="layui-form-item">
	  <label class="layui-form-label">楼层：</label>
	  <div class="layui-input-block">
		<div class="j-words-border">|
		{volist name="floorNumbers" id="vo"}
		{$vo}楼 |
		{/volist}
		</div>
	  </div>
   </div>
   <div class="layui-form-item j-no-disabled">
		 <label class="layui-form-label">联合工位区：</label>
		 <div class="layui-input-block j-input-route">
		   {volist name="siteGroups" id="vo"}
		   <input type="checkbox" name="union_ids[]" value="1"  lay-skin="primary" title="{$vo['site_group_name']}" checked="" disabled>
		   {/volist}
		 </div>
	</div>
	<div class="layui-form-item j-no-disabled">
		  <label class="layui-form-label">独立工位区：</label>
		  <div class="layui-input-block j-input-route">
		  	{volist name="sites" id="vo"}
			<input type="checkbox" name="Independent_ids[]" value="1"  lay-skin="primary" title="{$vo['site_name']}" checked="" disabled>
			{/volist}
		  </div>
	 </div>
	 <div class="layui-form-item j-no-disabled">
		   <label class="layui-form-label">门禁：</label>
		   <div class="layui-input-block j-input-route">
		   	 {volist name="guards" id="vo"}
			 <input type="checkbox" name="door_ids[]" value="1"  lay-skin="primary" title="{$vo['title']}" checked="" disabled>
			 {/volist}
		   </div>
	  </div>
	  <div class="layui-form-item">
		  <label class="layui-form-label">备注：</label>
		  <div class="layui-input-block">
			<div class="j-words-border">{$data_info['shack_remark']}</div>
		  </div>
	  </div>
	  <div class="layui-form-item j-top-formmargin">
		<div class="layui-input-block">
		  <a href="javascript:history.go(-1)" class="layui-btn layui-btn-normal">返回</a>
		</div>
	  </div>
   <!-- 当前状态E -->
</from>
</div>
<!-- 内容区 -->
{include file="system@block/layui" /}
