<div class="j-indent-boxs">
	<div class="layui-btn-group j-add-group clearfix">
		<a href="{:url('add')}" class="layui-btn layui-btn-primary layui-btn-sm layui-icon"><i class="layui-icon layui-icon-add-1"></i>企业入驻</a>
	</div>
	<div class="page-toolbar j-page-toolbar clearfix">
		  <form class="layui-form layui-form-pane" action="{url('index')}"  method="get" id="hisi-table-search">
			<div class="j-search-fl">
				  <div class="layui-input-inline j-input-margin" style="width:150px;">
					  <input type="text" name="group_name" placeholder="企业名称" class="layui-input">
				  </div>
				  <div class="layui-input-inline j-input-margin" style="width:150px;">
					  <input type="text" name="ctime" placeholder="操作时间" class="layui-input">
				  </div>
				  <div class="layui-input-inline j-input-margin" style="width:150px;">
					  <select name="ban_id" lay-verify="required"  lay-verType="tips" class="field-cid" type="select">
		  			    <option value="">类型</option>
		  			    <option value="0">未激活</option>
		  			    <option value="1">已激活</option>
		  			</select>
				  </div>
				  <button type="reset" class="layui-btn j-btn-reset">重置</button>
				  <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
					  <i class="layui-icon">&#xe615;</i>
					  搜索
				  </button>
			</div>
		  </form>
	  </div>
	<table id="dataTable" lay-filter='dataTable'></table>

	{include file="system@block/layui" /}

	

	<script type="text/html" title="操作按钮模板" id="buttonTpl">
		<div class="j-operation-box">
			<a href="{:url('detail')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal">详情</a>
		</div>
	</script>
	<script type="text/html" id="toolbar"></script>
</div>
<script type="text/javascript">
    layui.use(['table','jquery'], function() {
        var $ = layui.$
		    ,table = layui.table;
        table.render({
            elem: '#dataTable'
            ,url: '{:url()}' //数据接口
            ,page: true //开启分页
			//,height: 'full-280'
            ,skin: 'line'
            //,even: false
            ,limit: 10
            ,text: {
                none : '暂无相关数据'
            }
            ,cols: [[ //表头
            	{field: 'firm_name', align:'center',with:120, title: '企业名称'}
                ,{field: 'member_name', align:'center',with:100, title: '类型', templet:function(d){
                    if(d.shack_type){
                    	var str = '';
                    	for(var k in d.shack_type){
                    		var s = d.shack_type.charAt(k);
                    		if(s != '|'){
                    			//console.log(d.shack_type.charAt(k),str);
                    			str += params.shack_type[s] + '、';
                    		}
						}
                    	return str.substr(0,str.length-1);
                    }else{
						return '';
                    }
                }}
                ,{field: 'nick', align:'center',with:100, title: '操作人'}
                ,{field: 'ctime', align:'center',with:100, title: '操作时间'}
                ,{title: '操作', with:280, templet: '#buttonTpl', width: 150,fixed:'right'}
            ]]
        });
    });
</script>