<div class="j-indent-boxs">
	<div class="layui-btn-group j-add-group clearfix">
		<a href="{:url('add')}" class="layui-btn layui-btn-primary layui-btn-sm layui-icon"><i class="layui-icon layui-icon-add-1"></i>新增会议室</a>
	</div>
	<div class="page-toolbar j-page-toolbar clearfix">
		  <form class="layui-form layui-form-pane" action="{url('index')}"  method="get" id="hisi-table-search">
			<div class="j-search-fl">
				  <div class="layui-input-inline j-input-margin" style="width:150px;">
					  <input type="text" name="meet_name" placeholder="会议室名称" class="layui-input">
				  </div>
				  <div class="layui-input-inline j-input-margin" style="width:150px;">
					  <select name="ban_id" class="field-cid" type="select">
	      			    <option value="">请选择楼宇</option>
	      			    {volist name="banArr" id="v"}
	      			    <option value="{$v['ban_id']}">{$v['ban_name']}</option>
	      			    {/volist}
	      			</select>
				  </div>
				   <div class="layui-input-inline j-input-margin" style="width:150px;">
						  <select name="floor_number" class="field-cid" type="select">
							<option value="">请选择楼层</option>
							<option value="1">楼层1</option>
						</select>
				  </div>
				  <button type="reset" class="layui-btn j-btn-reset">重置</button>
				  <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
					  <i class="layui-icon">&#xe615;</i>
					  搜索
				  </button>
			</div>
		  </form>
	  </div>
	<table id="dataTable" lay-filter='dataTable'></table>

	{include file="system@block/layui" /}

	

	<script type="text/html" title="操作按钮模板" id="buttonTpl">
		<div class="j-operation-box">
			<a href="{:url('edit')}?id={{ d.meet_id }}" class="layui-btn layui-btn-xs layui-btn-normal">编辑</a>
			<a href="{:url('del')}?id={{ d.meet_id }}" class="layui-btn layui-btn-xs layui-btn-danger j-tr-del">删除</a>
	
		</div>
	</script>
	<script type="text/html" id="toolbar"></script>
</div>
<script type="text/javascript">
    layui.use(['table','jquery'], function() {
        var $ = layui.$
		    ,table = layui.table;
        table.render({
            elem: '#dataTable'
            ,url: '{:url()}' //数据接口
            ,page: true //开启分页
			,height: 'full-230'
            ,skin: 'line'
            //,even: false
            ,limit: 10
            ,text: {
                none : '暂无相关数据'
            }
            ,cols: [[ //表头
			    {field: '', align:'left',minWidth:80, title: '序号', templet:function(d){
			        return d.LAY_INDEX;
			    }},
                {field: 'meet_name', align:'left',minWidth:80, title: '名称'}
                ,{field: 'ban_name', align:'left',minWidth:100, title: '楼宇'}
                ,{field: 'floor_number', align:'left',minWidth:100, title: '楼层'}
                ,{field: 'meet_volume', align:'left',minWidth:100, title: '容纳人数'}
                ,{field: 'meet_unit_price', align:'left',minWidth:100, title: '租赁单价（元/0.5h）'}
                ,{title: '操作', minWidth:280, templet: '#buttonTpl', align:'left', width:280,fixed:'right'}
            ]]
        });
    });
</script>