<!-- 在线服务/空间状态/会议室状态 -->
<div class="j-indent-boxs">
	<div class="page-toolbar j-page-toolbar clearfix">
		  <form class="layui-form layui-form-pane" action="{url('index')}?group={$group}"  method="get" id="j-table-search">
			<div class="j-search-fl layui-col-md9">
				 <div class="layui-input-inline j-input-margin" style="width:150px;">
				 	<input type="text" name="ban_name" placeholder="输入楼宇" class="layui-input">
				 	<!-- <select name="ban_id" class="field-cid" type="select">
						<option value="">请选择楼宇</option>
						<option value=""></option>
					</select> -->
				 </div>
				 <div class="layui-input-inline j-input-margin" style="width:150px;">
				 	<input type="text" name="floor_number" placeholder="输入楼层" class="layui-input">
				 	<!-- <select name="service_field" class="field-cid" type="select">
						<option value="">请选择楼层</option>
						<option value="1">楼层1</option>
					</select> -->
				 </div>
				  <div class="layui-input-inline j-input-margin" style="width:150px;">
				  	<input type="text" name="meet_name" placeholder="输入会议室名称" class="layui-input">
				  	<!-- <select name="service_field" class="field-cid" type="select">
						<option value="">请选择会议室</option>
						<option value="1">会议室1</option>
						<option value="2">会议室2</option>
					</select> -->
				  </div>
				  <div class="layui-input-inline j-input-margin" style="width:150px;">
					<input type="text" name="date" class="layui-input" id="time1" placeholder="请选择时间">
					<b class="j-explain-name"><i class="layui-icon layui-icon-date"></i></b>
				  </div>
				  <button type="reset" class="layui-btn j-btn-reset">重置</button>
				  <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
					  <i class="layui-icon">&#xe615;</i>
					  搜索
				  </button>
			</div>
			<!-- <div class="layui-col-md3 fr">
				<div class="layui-input-inline j-input-margin  fr">
				  <a href="" type="reset" class="layui-btn layui-btn-primary">查看详细记录</a>
				</div>
			</div> -->
		  </form>
	  </div>
	  <div class="j-conference-box clearfix" id="j-data"></div>
	  

	{include file="system@block/layui" /}
</div>
<script type="text/javascript">
    layui.use(['table','jquery','laydate'], function() {
        var $ = layui.$
		    ,table = layui.table
			,laydate = layui.laydate;
	    laydate.render({
	      elem: '#time1'
	    });
  
	    $('#j-table-search').submit(function() {
	    	//console.log(1);
	        var that = $(this), 
	            arr = that.serializeArray(), 
	            options = '';
            
	            for(var i in arr) {
	            	options += arr[i].name +'=' +arr[i].value +'&';
	            }
	        data_post(options);
	        return false;
	    });
	    data_post();
	    function data_post(options = ''){
	    	$.get('{:url('index')}?group=status&'+ options , function(res) {
		    	var html = '';

		    	for (var i in res.data) {
		    		//console.log(res.data[i]);
		    		for (var k in res.data[i]['list']) {
		    			var meetsinfo = res.data[i]['list'][k];
		    			
		    			html +='<div class="j-conference-title clearfix"><ul><li>楼宇：<strong>'+ res.data[i]['baseinfo']['ban_name']  + '</strong></li><li>楼层：<strong>' + k + '楼</strong></li></ul></div><div class="j-conference-content clearfix">';

		    			for (var j in meetsinfo) {
		    				html +='<ul class="j-first-floor clearfix"><li class="j-first clearfix"><div class="j-title clearfix">'+ res.data[i]['baseinfo']['ban_name'] + '</div><div class="j-titme clearfix"><ul><li>最近7日使用时长：<label>47.75小时</label></li><li>最近30日使用时长：<label>179.75小时</label></li></ul></div></li><li class="j-list clearfix"><dl><dd>';
		    				var meets = meetsinfo[j]['list'];
		    				for (var p in meets) {

		    					html += '<ol>';
		    					if(p%2 == 1){
		    						//console.log(p);
		    						html += '<li class="j-time">' + meets[p]['start_time'] + '</li><li class="j-circle"></li>';
		    					}

		    					if(meets[p]['meet_order_status'] == 1){
		    						var color_class = 'j-gray j-green';
		    					}else if(meets[p]['meet_order_status'] == 2){
		    						var color_class = 'j-gray j-red';
		    					}else{
		    						var color_class = 'j-gray';
		    					}

	                            html += '<li class="' + color_class + '"></li><div class="j-frame-box hide"><ul><li class="clearfix"><span class="fl">使用者</span><span class="fr">' + meets[p]['member_name'] + '</span></li><li class="clearfix"><span class="fl">联系方式</span><span class="fr">' + meets[p]['member_tel'] + '</span></li><li class="clearfix"><span class="fl">所属企业</span><span class="fr">' + meets[p]['firm_name'] + '</span></li></ul></div></ol>';                                                            
		    				}

		    				html += `</dd>
			                     </dl> 
			                  </li>
			                  <div class=" j-instructions clearfix">
			                      <ul class="clearfix">
			                          <li class="j-lsit1">
			                              <i></i>已使用
			                          </li>
			                          <li class="j-lsit2">
			                              <i></i>已预约
			                          </li>
			                          <li class="j-lsit3">
			                              <i></i>未使用
			                          </li>
			                      </ul>
			                  </div>
			              </ul>`;


		    			}

		    			html +='</div>';
		    		};
					
		    	}

		    	$('#j-data').html(html);
				//给偶数行
				$(".j-indent-boxs li.j-list ol:nth-child(even)").addClass("on");

	        });
	    }
	    

	 //点击吸附提示
	 $("body").on("mouseenter", ".j-conference-content li.j-list dl dd ol li.j-green,.j-conference-content li.j-list dl dd ol li.j-red", function() {
	        $(this).parent().find(".j-frame-box").show();
	     });
	 $("body").on("mouseleave", ".j-conference-content li.j-list dl dd ol li.j-green,.j-conference-content li.j-list dl dd ol li.j-red", function() {
		 $(this).parent().find(".j-frame-box").hide();
	 });
	 
  });
</script>