<!DOCTYPE html>
<html>
<head>
    <title>得月办公管理后台 -  Powered by {:config('hisiphp.name')}</title>
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__PUBLIC_JS__/layui/css/layui.css">
	<link rel="stylesheet" href="__ADMIN_CSS__/lucas-style.css?v={:config('hisiphp.version')}">
	<link rel="stylesheet" href="__ADMIN_CSS__/lucas-style.css">
</head>
<body class="j-no-back">
<div class="j-setting-box">
	<div class="j-setting-pass">
		<h1 class="j-setting-title">忘记密码</h1>
		<form action="{:url()}" method="post" class="layui-form">
		  <div class="j-from-input">
			<div class="j-errors j-visibility"><i class="layui-icon iconfont j-icon-baocuo"></i><label></label></div>
			  <div class="text-input register-text-input">
			  	<label class="fl">+86</label>
			  	<div class="j-input"><input type="tel" name="cellphone" id="cellphone"  placeholder="输入手机号" required></div>
			  </div>
			  <div class="text-input j-vercode-box">
			  	<input type="text" name="vercode" class="j-vercode" id="vercode"  placeholder="输入验证码" required>
			  	<!-- <button id="get-code" class="blue-color">获取验证码</button> -->
			  	<input type="button" class="blue-color" onClick="sendMessage1()" id="getsmscode" value="发送验证码" />
			  </div>
        {:token()}
			  <input type="submit" value="下一步" lay-submit="" lay-filter="formPhone" class="layui-btn layui-btn-normal register-submit">
			  <a class="j-return" href="#">返回登录</a>
		  </div>
		</form>
	</div>
	<div class="layui-footer footer">
	   楚天新媒 © <a href="/" target="_blank">{:config('hisiphp.name')} v{:config('hisiphp.version')}</a>  <label>客服：027-81368886</label>
	</div>
</div>
<script src="__PUBLIC_JS__/layui/layui.js"></script>
<script src="__PUBLIC_JS__/particles.min.js"></script>
<script type="text/javascript">
  layui.use(['form', 'layer', 'jquery'], function() {
      var $ = layui.jquery, layer = layui.layer, form = layui.form; 
  	//手机登录
  	var phoneReg = /(^1[3|4|5|6|7|8]\d{9}$)|(^09\d{8}$)/;//手机号正则 
  	var count = 60; //间隔函数，1秒执行
  	var InterValObj1; //timer变量，控制时间
  	var curCount1;//当前剩余秒数
  	window.sendMessage1 = function(){
  		curCount1 = count;		 		 
  		var phone = $.trim($('#cellphone').val());
  		if (!phoneReg.test(phone)) {
  			// layer.msg('请输入有效的手机号码');
  			$(".j-errors").removeClass("j-visibility");
  			$(".j-errors").text("请输入有效的手机号码");
  			return false;
  		}
  
      var that = $(this), _form = that.parents('form'),
          account = $('input[name="username"]').val(),
          pwd = $('input[name="password"]').val(),
          token = $('input[name="__token__"]').val();
          
      //手机号格式正确，则后台验证是否存在当前有效手机号，如果有效则发送短信给用用户
      $.ajax({
          type: "POST",
          url: '{:url('sendMessage')}',
          data: {'token': token,'username': phone},
          success: function(res) {
		          console.log(res);
              if (res.code == 1) {
			          $(".j-errors").addClass("j-visibility");
                console.log(res.msg);
                //设置button效果，开始计时
                $("#getsmscode").attr("disabled", "true");
                $("#getsmscode").addClass("on");
                $("#getsmscode").val(curCount1+"s"+"重新发送");
                InterValObj1 = window.setInterval(SetRemainTime1, 1000); //启动计时器，1秒执行一次
              } else {
      					$(".j-errors").removeClass("j-visibility");
      					$(".j-errors").text(res.msg);
              }
          }
      });		 
  	}
  	window.SetRemainTime1 = function(){
  		if (curCount1 == 0) {                
  			window.clearInterval(InterValObj1);//停止计时器
  			$("#getsmscode").removeAttr("disabled");//启用按钮
  			$("#getsmscode").removeClass("on");
  			$("#getsmscode").val("重新获取");
  		}
  		else {
  			curCount1--;
  			$("#getsmscode").val(curCount1+"s"+"重新发送");
  		}
  	}
  
      // 短信登录
      form.on('submit(formPhone)', function(data) {
        var that = $(this), _form = that.parents('form'),
            code = $('#vercode').val(),
            phone = $.trim($('#cellphone').val());
      console.log(1);
        if (!phoneReg.test(phone)) {
    			$(".j-errors").removeClass("j-visibility");
    			$(".j-errors").text("请输入有效的手机号码");
          return false;
        }
        //layer.msg('数据提交中...',{time:500000});
        that.prop('disabled', true);
        console.log(_form.attr('action'));
        $.ajax({
            type: "POST",
            url: _form.attr('action'),
            data: {'username': phone, code:code},
            success: function(res) {  
              if (res.code == 1) {
			          $(".j-errors").addClass("j-visibility");
                location.href = res.url+'?key='+res.data.key;
              } else {
    						$(".j-errors").removeClass("j-visibility");
    						$(".j-errors").text(res.msg);
                that.prop('disabled', false);
              }
            }
        });
        return false;
      });
  });
  </script>
 </body>
 </html>
	
	