/*---------------------公用样式 S--------------------*/
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;/* 去谷歌默认背景色 */
}
.j-visibility{visibility:hidden;}
.clear{clear:both;}
.clearfix{zoom:1;}
.clearfix:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.fl{ float: left;}
.fr{float: right;}
.layui-elem-field.j-size-color legend{ font-size: 16px;  font-weight: bold; color: #20A0FF;}
.j-top-formmargin{ margin-top: 30px;}
.layui-side .layui-this a, .layui-side .layui-this i.aicon{ font-weight: bold;}
.layui-nav-tree .layui-nav-item.layui-nav-itemed a.j-two-name{font-weight: bold;}
/* 表格按钮状态 S*/
.j-table-button{ width: 80px; height: 27px; line-height: 27px; text-align: center; border: 0; color: #fff; font-size: 14px;border-radius:2px;}
.j-table-button.j-notactive{ background:#737F90;}
.j-table-button.j-activated{ background:#60D09C;}
.layui-form-label i.red{ margin-right: 5px;}
/* 表格按钮状态 E*/
/* 带tab切换页面样式调整 */
.layui-card{
    background-color: #fff;
    padding: 5px 8px;
    margin: 8px;	
}
/*---------------------公用样式 E--------------------*/
.j-aicon-qiehuan i{ font-size: 22px;}
/* 首页样式 S */
 .project-info, .card {border-radius: 4px;}
 .project-info {height: 100px;}
 .project-info1 {background: url(../image/info1.png);}
 .project-info2 {background: url(../image/info2.png) repeat-x;}
 .project-info3 {background: url(../image/info4.png) repeat-x;}
 .project-info4 {background: url(../image/info3.png) repeat-x;}
 .project-icon {width: 25%;height: inherit;}
 .project-icon1 {background: url(../image/ruzhuqiye.png) no-repeat center;}
 .project-icon2 {background: url(../image/renyuanguanli.png) no-repeat center;}
 .project-icon3 {background: url(../image/kongjiangongwei.png) no-repeat center;}
 .project-icon4 {background: url(../image/huiyishi.png) no-repeat center;}
 .project-text {height: inherit;margin-right: 10%;color: #FFFFFF;font-size: 16px;font-weight: bold;display: flex;flex-direction: column;justify-content: center;align-items: flex-end;}
 .project-text .value {font-size: 34px;font-weight: normal;line-height: 1.5em;}
 .card-header {border-bottom: #D8D8D8 solid 1px;}
 .card-title {color: #999999;font-size: 18px;font-weight: bold;border-left: #20A0FF solid 6px;padding-left: .5em;}
 .card-header-rside {margin-right: 1em;}
 .card-breadcrumb {margin-right: 30px;}
 .text-blue {color: #20A0FF;font-size: 14px;}
 .card-btn {background: none;border: #20A0FF solid 1px;border-radius: 5px;padding: 3px 8px;margin-right: 10px;}
 .card-btn:hover {cursor: pointer;color: white;background-color: #20A0FF;}
 .card-table th {color: #333333;background-color: #EDF0F9;font-size: 16px;font-weight: bold;}
 .chart {width: 45%;height: 200px;padding: 0 5%;}
 .chart-info {height: 200px;color: #4A4A4A;line-height: 2em;margin-right: 20%;display: flex;flex-direction: column;justify-content: center;}
 .layui-breadcrumb a.on,.layui-breadcrumb a:hover{ color: #20A0FF!important;}
/* 首页样式 E */
/* 设置密码 S */
.j-setting-box{ width: 700px;position: absolute;left: 50%; top:50%; transform: translate(-50%,-50%);}
.j-setting-pass{ margin: 0 auto; border-radius: 14px; background: #fff;    overflow: hidden;}
.j-setting-pass h1{ height: 60px; font: 20px/60px 'MicrosoftYaHei'; color: #fff; background: #4794FF; text-align: center;}
.j-setting-pass .j-from-input{ width: 50%; margin: 0 auto; padding: 22px 0;}
.j-setting-pass .j-pass-but{ background: #4794FF; border-radius: 2px; width: 100%; font: 14px/50px 'MicrosoftYaHei'; color: #fff; height: 50px; margin-top: 8px;}
.j-setting-pass .layui-form-item{ margin-bottom: 22px;position: relative;}
.j-setting-pass .layui-form-item i{position: absolute; right: 10px;top:4px; font-size: 30px; cursor: pointer;}
.j-setting-pass .layui-input,.j-setting-pass  .layui-select,.j-setting-pass .layui-textarea{height: 40px;}
.j-setting-box .j-foot{ text-align: center; color:#d3d3d3 ; padding-top: 30px;}
.j-setting-box .j-foot a{ color: #4794FF;}
.j-setting-pass .j-errors{ width: 100%; font: 12px/30px 'MicrosoftYaHei'; color: #FF0000; text-align: center; background: #FAFAD8; margin-bottom: 22px;}
.j-setting-pass .j-errors i{ font-size: 10px;}
.j-setting-pass .j-errors label{ padding-left: 8px;}
/* 设置密码 E */
/* input显示文字样式 S */
.layui-input.j-no-border{ border: 0; padding-left: 0;}
/* input显示文字样式 E */
/* 弹框新样式 S*/
.layui-layer-dialog .layui-layer-padding{font-family:MicrosoftYaHei;color: #4A4A4A;}
.layui-layer-dialog .layui-layer-btn{position: relative; height: 40px;}
.layui-layer-dialog .layui-layer-btn .layui-layer-btn0{ position: absolute; right:25px; top:0;}
.layui-layer-dialog .layui-layer-btn .layui-layer-btn1{ position: absolute; right:105px; top:0;}
/* 弹框新样式 E*/
/* 首页table样式 S */
.j-table-card .layui-table-view .layui-table th{font: bold 14px/40px 'MicrosoftYaHei-Bold';color: #333;}
/* 首页table样式 E */
/*-------------------- 空间场地配置 ---------------------S */
/* 新增 S */
.layui-form-item  .layui-input-inline{position: relative;}
.layui-form-item .layui-input-inline.j-name{ width:500px;}
.layui-form-item .layui-input-inline.j-name .layui-input{ width: 190px;}
.layui-form-item .layui-input-inline.j-name .layui-form-select{width: 190px;}
.layui-form-item  .layui-input.j-explain-input,.j-from-box  .layui-input.j-explain-input {padding-right: 30px;}
.layui-form-item  .layui-input.j-explain-inputs,.j-from-box  .layui-input.j-explain-inputs {padding-right: 50px;}
b.j-explain-name {font-weight: 100;position: absolute;right: 8px;top: 10px;cursor: pointer;}
.j-uplode-icon{position: relative;border: #D7D7D7 1px dashed;border-radius:4px; width: 100px; height: 100px; line-height: 100px; text-align: center;background:rgba(243,246,253,1);    margin: 0 10px 10px 0;}
.j-uplode-icon i{ font-size:68px; color: #D7D7D7;}
.j-uplode-icon button {position: absolute;left: 0;top: 0; height:100px;width: 100px;overflow: hidden;opacity: 0;}
.j-uplode-icon button:hover{opacity: 0;}
.layui-input-block.j-uplode-block{display: block;}
.icon-cancel {background: url(../image/icon-cancel.png) no-repeat;width: 15px;height: 15px;position: absolute;top: -4px;right: -4px;}
.j-from-box .j-input-inline li{position: relative; width: 20%; margin:0 30px 15px 0 ; float: left;}
.j-from-box .j-input-inline li:hover .j-hostile{ display: block;}
/* .j-from-box .j-input-inline li:hover .layui-input:hover{ border:#60D09C 1px solid ;} */
.j-from-box .j-input-inline .j-link-box li{ width: auto; line-height: 36px;margin: 0;}
.j-from-box .j-input-inline .j-link-box li a{ color: #20A0FF;}
.j-from-box .j-input-inline li.on .j-explain-input{ border: #60D09C 1px solid;}/* 已租颜色 */
.j-from-box .j-input-inline li.on:hover .j-explain-input{border: #60D09C 1px solid;}
.j-from-box .j-input-inline li.on  b.j-explain-name{ color: #60D09C;}
/*------------------ 多图上传S ----------------*/
.upload_img_list{ display: initial;}
.upload_img_list dd {position: relative;margin: 0 10px 10px 0;float: left; border: #D7D7D7 1px dashed;border-radius:4px;height:100px;width: 100px; text-align: center;}
.upload_img_list .operate {position: absolute;top: -7px;right: -10px;z-index: 1}
.upload_img_list .operate i {cursor: pointer;padding: 2px;line-height: 15px;text-align: center;color: #F14C3D;margin-left: 1px;float: left;filter: alpha(opacity=80);-moz-opacity: .8;-khtml-opacity: .8;
opacity: .8color: #333;}
.upload_img_list dd .img {height: 80px; width: 80px; padding: 10px; box-sizing: border-box;position: absolute;top: 50%;left: 50%;margin-top: -40px;margin-left: -40px;}
.j-details-box .j-enclosure-label.j-uplode-icon button{position: absolute; left: 0; top:0; height: 38px;  width: 122px; overflow: hidden; opacity: 0;}
/*------------------ 多图上传E ----------------*/
/* 新增 E */
/* 工位区 S */
.j-from-box .j-form-label{float: left;padding: 0;width: 120px;text-align: right;line-height: 36px;}
.j-from-box  .j-input-inline {padding-left: 122px; position: relative;}
.j-from-box .j-form-label.j-add{ text-align: left; color: #20A0FF; font-size: 16px; cursor: pointer;}
.layui-form.j-top-margin.j-padding-right{padding: 20px 200px 0 0;}
.j-words-border{ line-height: 36px; color: #4A4A4A;}
.j-tips{ color: #FFB84D; font-size: 12px; margin-top: 10px;}
.j-tips i{ font-size: 8px;}
.j-padding-right .layui-col-space30{margin: -15px -15px 0;}
.j-padding-right .layui-col-space30>*{padding: 15px 15px 0;}
.j-from-box .j-input-inline li .j-hostile{box-shadow:0px 0px 12px 0px rgba(0,0,0,0.16);border-radius:4px; background: #fff; padding: 30px 20px; box-sizing: border-box;position: absolute;top:-110px;font-size: 14px;z-index: 888;}
.j-from-box .j-input-inline li .j-hostile .j-type{ display: inline-block;width:60px;float: left; color:#9B9B9B;}
.j-from-box .j-input-inline li .j-hostile .j-name{ display: block;padding-left: 80px; text-align: right; color: #181818;}
/* 工位区 E */
/*-------------------- 空间场地配置 ---------------------E */
/* 工作人员账号 S */
.menu_head{padding-left:10px;color:#333;cursor:pointer;position:relative;font:14px/40px 'MicrosoftYaHei'; margin-bottom: 10px;background:#EDF0F9}
.menu_head .j-icon{background:url(../image/j-down.png) center right no-repeat;  width: 18px; height: 18px; position: absolute; top:11px; right: 10px;}
.menu_list .menu_head.current .j-icon{background:url(../image/j-up.png) center right no-repeat;}
.menu_body{height:auto;overflow:hidden;backguound:#fff;}
.menu_body dl{ padding-bottom: 10px;}
.menu_body dt{ margin-left: 30px; margin-bottom: 10px;}
.menu_body dd{ margin-left: 60px;}
.menu_body dd li{ float: left; margin-right: 20px; margin-bottom: 10px;}
.layui-form-item .menu_list .layui-form-checkbox[lay-skin=primary]{ margin-top: 0;}
/* 工作人员账号 E */
 .x-iframe{position: absolute;width: 100%;height: 100%;left: 0;top: 45px;right: 0;bottom: 0;background: #fff;}
 .layui-tab-title{z-index: 999;}
 /* 首次登陆 S */
 .register-text-input{ border:1px solid #D3D3D3; height: 40px; line-height: 40px; margin-bottom: 15px;}
 .register-text-input .j-input{margin-left: 70px; display: block;}
.register-text-input  .j-input input{ border: none;height: 38px; line-height: 38px;  width: 100%;}
.register-text-input label{ display: inline-block; background:rgba(245,245,245,1); width: 60px; text-align: center; color: #4A4A4A;}
.j-vercode-box .j-vercode{border:1px solid #D3D3D3;height: 38px; line-height: 38px; width:234px; margin-right: 10px; text-indent: 10px;}
.j-vercode-box .blue-color{ background: #4794FF; color: #fff;height: 40px; line-height: 40px; width: 100px; border: none; cursor: pointer;}
.j-vercode-box .blue-color.on{ background: #bbb;}
.j-setting-box .text-input{ font-size: 14px;}
.register-submit{ width: 100%; background:#4794FF; height: 50px; line-height: 50px; margin-top: 30px; font-size: 16px;}
.j-setting-box .j-return{ text-align: center; display: block; color: #4794FF; font-size: 16px; line-height: 50px;}
.j-setting-box .layui-footer{ margin:30px auto 0 ; text-align: center;}
.j-setting-box .layui-footer a{ color:#0084FF ; margin-right: 20px;}
.j-no-back{ background: #f4f4f4;}
/* 首次登陆 E */
 /* ---------------项目管理---------------  S*/
 .layui-input-block.j-position{ position: relative;}
 .layui-input-block.j-position .layui-btn{/* position: absolute; right: -100px; top:0; */ margin: -2px 0 0 6px;}
 .layui-input-block.j-position .layui-input{display: inline-block; width: 88%;}
 .layui-form-item.j-item-top{ margin-top: 30px;}
 .j-long-words .layui-form-label{ width: 100px;}
.j-long-words  .layui-input-block{ margin-left: 120px;}
.layui-form-label.j-line-height{padding: 3px 10px;}
.layui-form-item.j-positions-size{ margin-bottom: 0;}
.j-admin-box .j-admin-title{color:#737F90 ;  margin: 30px 0 5px 0;}
.j-admin-box .j-admin-title .j-name{ font:bold  16px/24px ''; }
.j-admin-box .j-admin-title .j-name .j-tips{ margin-left: 5px;}
.j-admin-box .j-admin-title .j-button button{position: relative; top:-5px;}
.j-admin-list{ background: #FCF7E4; padding-bottom: 10px; position: relative;}
.j-admin-list i.j-del{ position: absolute; right: -5px; top:-5px;}
.j-admin-list li{ float: left; margin: 10px 0 0 10px; width: 250px;}
.j-admin-box.j-staff .j-admin-list{ background:#F5F5F5; margin-bottom: 10px;}
.j-admin-list li.j-required-li{ position: relative;}
.j-admin-list li .j-required-input{ text-indent:14px;}
.j-admin-list li.j-required-li i.red{position: absolute; left:10px ; top:15px;}
.j-add-personnel{ font-size: 16px; color:#20A0FF ; text-align: center; cursor: pointer; margin-top:30px ;}
.j-padding-box{ padding: 0 10px;}
.j-right-button{ text-align: right; margin-top:60px;}
.layui-carousel.j-carousel-box >[carousel-item]>*{background-color: none!important; position: initial;}
.layui-carousel.j-carousel-box>[carousel-item]{ overflow: auto!important;}
/* 详情 S */
.j-details-from{ padding: 0 10px;}
.j-details-from .layui-form-item{ margin-bottom: 5px;}
.j-no-disabled .layui-form-checked[lay-skin=primary] i{border-color:#737F90!important;background-color:#737F90;}
.j-no-disabled .layui-checkbox-disbaled[lay-skin=primary] span{ color: #737F90;}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {-webkit-appearance: none;}
input[type="number"]{-moz-appearance: textfield;}
/* 详情 E */
/* 编辑 S */
.j-operation-box .j-enterprise i{ color: #20A0FF;}
.layui-btn-group.j-add-group.j-multiple-box .layui-btn { margin-right:10px!important;}
.j-add-group .layui-btn .layui-icon{ font-weight: 100; margin-right: 5px;}
/* 编辑 E */
 /*------------------ 项目管理 -------------------------E*/
