{include file="system@block/layui" /}
<style>
	body{background: #fff;overflow: hidden;}
</style>
<form class="layui-form j-frame-margin" action="{:url()}" method="post">
	<div class="layui-form-item">
	    <label class="layui-form-label"><i class="red">*</i>登录密码：</label>
	    <div class="layui-input-block">
	        <input type="password" class="layui-input field-username" name="password" lay-verify="required" lay-verType="tips" autocomplete="off" placeholder="请输入密码">
	    </div>
	</div>
	<input type="hidden" name="id" value="{$floor_id}">
	<div class="layui-form-item">
	    <div class="layui-input-block  j-text-right">
			<a type="submit" class="layui-btn layui-btn-primary">取消</a>
	        <button type="submit" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="formSubmit">提交</button>
	        <!-- <a href="" class="layui-btn layui-btn-primary ml10"><i class="aicon ai-fanhui"></i>返回</a> -->
	    </div>
	</div>
</form>
<script type="text/javascript">
  layui.use(['table','jquery'], function() {
        var $ = layui.$
		    ,table = layui.table;
			
			$(".layui-btn-primary").click(function(){
				var index = parent.layer.getFrameIndex(window.name);
				parent.layer.close(index);//关闭当前页
			})
			
    });
</script>