<div class="layui-btn-group j-add-group clearfix">
  <a href="{:url('addUser')}" class="layui-btn layui-btn-primary layui-btn-sm layui-icon" title="添加管理员"><i class="layui-icon layui-icon-add-1"></i>添加账号</a>
</div>
<div class="page-toolbar j-page-toolbar clearfix">
    <form class="layui-form layui-form-pane" action="{url('index')}"  method="get" id="hisi-table-search">
      <div class="j-search-fl">
            <div class="layui-input-inline j-input-margin" style="width:150px;">
                <input type="text" name="username" placeholder="输入账号（手机号）" class="layui-input">
            </div>
            <div class="layui-input-inline j-input-margin" style="width:150px;">
                <input type="text" name="nick" placeholder="输入姓名" class="layui-input">
            </div>
            <div class="layui-input-inline" style="width:150px;">
                <select name="role_id">
                    <option value="">请选择角色</option>
                    {volist name="roleArr" id="v"}
                    <option value="{$v['id']}">{$v['name']}</option>
                    {/volist}
                  </select>
            </div>
            <div class="layui-input-inline" style="width:150px;">
                <select name="status">
                    <option value="">请选择状态</option>
                    <option value="1">已激活</option>
                    <option value="2">未激活</option>
                  </select>
            </div>
            <button type="reset" class="layui-btn j-btn-reset">重置</button>
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
                <i class="layui-icon">&#xe615;</i>
                搜索
            </button>
      </div>
    </form>
</div>

<script type="text/html" title="操作按钮模板" id="buttonTpl">
  <div class="j-operation-box">
      <a href="{:url('editUser')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal">编辑</a> 
      <a href="{:url('delUser')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-danger j-tr-del">删除</a>
  </div>
</script>
<script type="text/html" id="toolbar"></script>

<table id="dataTable"></table>
{include file="block/layui" /}
<script type="text/javascript">
    layui.use(['table','jquery'], function() {
        var $ = layui.$
            ,table = layui.table;
        table.render({
            elem: '#dataTable'
            ,url: '{:url()}' //数据接口
            ,page: true //开启分页
            ,skin: 'line'
            ,limit: 10
            ,text: {
                none : '暂无相关数据'
            }
       
            ,defaultToolbar: ['filter']
            ,cols: [[ //表头
                {field: 'username', minWidth:80,align:'left', title: '账号'}
                ,{field: 'nick', minWidth:100,align:'left', title: '姓名'}
                ,{field: 'role_id', minWidth:200,align:'left', title: '角色', templet:function(d){
                    return d.role.name;
                }}
                ,{field: 'post', minWidth: 100,align:'left', title: '职务'}
               /* ,{field: 'ctime',minWidth: 150,align:'left', title: '创建时间'} */
			   ,{field: 'last_login_ip', title: '状态', minWidth: 150,align:'left', templet:function(d){
			       if(d.last_login_ip){
			           return '<button class="j-table-button j-activated">已激活</button>';
			       }else{
			           return '<button class="j-table-button j-notactive">未激活</button>';
			       }
			   }}
                ,{field: 'remark', minWidth:140,align:'left',title: '备注'}
                ,{title: '操作', width:200,align:'left', templet: '#buttonTpl',fixed:'right'}
            ]]
        });
		// 鼠标滑过操作列
		var tip_index = 0;
		$(document).on('mouseenter', '.j-notactive', function(){
			tip_index = layer.tips('<span style="color:#333;font-size:14px;">未激活状态表示该用户从未登录过</span>', this,{tips:[2,'#fff9bc'],time:5000});
		}).on('mouseleave',this, function(){
			layer.close(tip_index);
		});
    });
</script>