<style>
	.layui-layout-body{overflow-y: auto; padding-bottom: 50px;}
</style>
<div class="j-indent-box">
	<div class="layui-btn-group j-add-group clearfix">
		<a href="{:url('addUserManage')}" class="layui-btn layui-btn-primary layui-btn-sm layui-icon" title="添加管理员"><i class="layui-icon layui-icon-add-1"></i>新增授权</a>
	</div>
	<div class="page-toolbar j-page-toolbar clearfix">
		  <form class="layui-form layui-form-pane" action="{url('index')}"  method="get" id="hisi-table-search">
			<div class="j-search-fl">
				  <div class="layui-input-inline j-input-margin" style="width:150px;">
					  <input type="text" name="username" placeholder="输入账号（手机号）" class="layui-input">
				  </div>
				  <div class="layui-input-inline j-input-margin" style="width:150px;">
					  <input type="text" name="nick" placeholder="输入姓名" class="layui-input">
				  </div>
				  <div class="layui-input-inline" style="width:150px;">
					  <select name="pro_ids">
						  <option value="">授权项目</option>
						  {volist name="proArr" id="v"}
						  <option value="{$key}">{$v}</option>
						  {/volist}
						</select>
				  </div>
				  <div class="layui-input-inline" style="width:150px;">
					  <select name="status">
						  <option value="">请选择状态</option>
						  <option value="1">已激活</option>
						  <option value="2">未激活</option>
						</select>
				  </div>
				  <button type="reset" class="layui-btn j-btn-reset">重置</button>
				  <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
					  <i class="layui-icon">&#xe615;</i>
					  搜索
				  </button>
			</div>
		  </form>
	  </div>
	<table id="dataTable" lay-filter='dataTable'></table>

	{include file="block/layui" /}

	

	<script type="text/html" title="操作按钮模板" id="buttonTpl">
		<div class="j-operation-box">
			<a href="{:url('editUserManage')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal">编辑</a>
			{{#  if(!d.pro_names){ }}
			<a href="{:url('delUserManage')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-danger j-tr-del">删除</a>
			{{#  } else { }}
			<a href="{:url('removeUserProject')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-danger j-remove">移除授权</a>
			{{#  } }}
		</div>
	</script>
	<script type="text/html" id="toolbar"></script>
</div>
<script type="text/javascript">
    layui.use(['table','jquery'], function() {
        var $ = layui.$
		    ,table = layui.table;
        table.render({
            elem: '#dataTable'
            ,url: '{:url()}' //数据接口
            ,page: true //开启分页
			,height: 'full-300'
            ,skin: 'line'
            //,even: false
            ,limit: 10
            ,text: {
                none : '暂无相关数据'
            }
            ,cols: [[ //表头
                {field: 'username', align:'left',minWidth:80, title: '账号'}
                ,{field: 'nick', align:'left',minWidth:100, title: '姓名'}
               /* ,{field: 'role_id', align:'left', minWidth:100,title: '角色', templet:function(d){
                    return d.role.name;
                }} */
                ,{field: 'post', align:'left', minWidth: 100, title: '职务'}
                ,{field: 'pro_names', align:'left', minWidth: 150, title: '授权项目'}
                ,{field: 'ctime',  align:'left',minWidth: 150, title: '授权时间'}
                ,{field: 'last_login_ip', align:'left', title: '状态', minWidth: 150, templet:function(d){
                	if(d.last_login_ip){
                		return '<button class="j-table-button j-activated">已激活</button>';
                	}else{
                		return '<button class="j-table-button j-notactive">未激活</button>';
                	}
                    //return d.role.name;
                }}
				 ,{field: 'remark', align:'left', minWidth:140,title: '备注'}
                ,{title: '操作', minWidth:160, templet: '#buttonTpl',fixed:'right',align:'left'}
            ]]
        });
		// 鼠标滑过操作列
		var tip_index = 0;
		$(document).on('mouseenter', '.j-notactive', function(){
			tip_index = layer.tips('<span style="color:#333;font-size:14px;">未激活状态表示该用户从未登录过</span>', this,{tips:[2,'#fff9bc'],time:4000});
		}).on('mouseleave',this, function(){
			layer.close(tip_index);
		});
        //移除授权
		$(document).on('click', '.j-remove', function() {
			//获取当前选择列数据
			var names = $(this).parents("tr").find("td:eq(1)").text();
			console.log(names);
			$(".layui-layer-btn").after($(".layui-layer-btn1"));
		    var that = $(this),
		        href = !that.attr('data-href') ? that.attr('href') : that.attr('data-href'),
		        data_msg = that.attr('data-msg') ? that.attr('data-msg') : '是否确认移除用户'+ names + '全部项目的授权？';
				refresh = !that.attr('refresh') ? 'true' : that.attr('refresh');
		    layer.confirm(data_msg, {icon: 7,title:false, closeBtn:0,offset: 'auto', btn: ['确定','取消']}, function(index){
		        if (!href) {
		            layer.msg('请设置data-href参数');
		            return false;
		        }
		       if (!that.attr('confirm')) {
		           layer.msg('数据提交中...', {time:500000});
		           $.get(href, {}, function(res) {
		               layer.msg(res.msg, {}, function() {
		                   if (refresh == 'true' || refresh == 'yes') {
		                       if (typeof(res.url) != 'undefined' && res.url != null && res.url != '') {
		                           location.href = res.url;
		                       } else {
		                           location.reload();
		                       }
		                   }
		               });
		           });
		           layer.close();
		       } else {
		           layer.confirm(that.attr('confirm'), {title:false, closeBtn:0}, function(index){
		               layer.msg('数据提交中...', {time:500000});
		               $.get(href, {}, function(res) {
		                   layer.msg(res.msg, {}, function() {
		                       if (refresh == 'true') {
		                           if (typeof(res.url) != 'undefined' && res.url != null && res.url != '') {
		                               location.href = res.url;
		                           } else {
		                               location.reload();
		                           }
		                       }
		                   });
		               });
		               layer.close(index);
		           });
		       }
		       return false;
		    });
		    return false;
		});
    });
</script>