<div class="j-indent-box">
	<div class="layui-btn-group j-add-group clearfix">
		<a href="{:url('addUserManage')}" class="layui-btn layui-btn-primary layui-btn-sm layui-icon" title="添加管理员"><i class="layui-icon layui-icon-add-1"></i>新增授权</a>
	</div>
	<div class="page-toolbar j-page-toolbar clearfix">
		  <form class="layui-form layui-form-pane" action="{url('index')}"  method="get" id="hisi-table-search">
			<div class="j-search-fl">
				  <div class="layui-input-inline j-input-margin" style="width:150px;">
					  <input type="text" name="username" placeholder="输入账号（手机号）" class="layui-input">
				  </div>
				  <div class="layui-input-inline j-input-margin" style="width:150px;">
					  <input type="text" name="nick" placeholder="输入姓名" class="layui-input">
				  </div>
				  <div class="layui-input-inline" style="width:150px;">
					  <select name="pro_ids">
						  <option value="">授权项目</option>
						  {volist name="proArr" id="v"}
						  <option value="{$key}">{$v}</option>
						  {/volist}
						</select>
				  </div>
				  <div class="layui-input-inline" style="width:150px;">
					  <select name="status">
						  <option value="">请选择状态</option>
						  <option value="1">正常</option>
						  <option value="2">未激活</option>
						</select>
				  </div>
				  <button type="reset" class="layui-btn j-btn-reset">重置</button>
				  <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
					  <i class="layui-icon">&#xe615;</i>
					  搜索
				  </button>
			</div>
		  </form>
	  </div>
	<table id="dataTable" lay-filter='dataTable'></table>

	{include file="block/layui" /}

	

	<script type="text/html" title="操作按钮模板" id="buttonTpl">
		<div class="j-operation-box">
			<a href="{:url('editUserManage')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal">编辑</a>
			{{#  if(!d.pro_names){ }}
			<a href="{:url('delUserManage')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-danger j-tr-del">删除</a>
			{{#  } else { }}
			<a href="{:url('removeUserProject')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-danger j-ajax">移除授权</a>
			{{#  } }}
		</div>
	</script>
	<script type="text/html" id="toolbar"></script>
</div>
<script type="text/javascript">
    layui.use(['table','jquery'], function() {
        var $ = layui.$
		    ,table = layui.table;
        table.render({
            elem: '#dataTable'
            ,url: '{:url()}' //数据接口
            ,page: true //开启分页
			//,height: 'full-280'
            ,skin: 'line'
            //,even: false
            ,limit: 10
            ,text: {
                none : '暂无相关数据'
            }
            ,cols: [[ //表头
                {field: 'username', align:'center',with:80, title: '账号'}
                ,{field: 'nick', align:'center',with:100, title: '姓名'}
                ,{field: 'role_id', align:'center', with:100,title: '角色', templet:function(d){
                    return d.role.name;
                }}
                ,{field: 'post', align:'center', width: 100, title: '职务'}
                ,{field: 'pro_names', align:'center', minWidth: 150, title: '授权项目'}
                ,{field: 'ctime',  align:'center',width: 150, title: '授权时间'}
                ,{field: 'remark', align:'center', with:140,title: '备注'}
                ,{field: 'last_login_ip', align:'center', title: '状态', width: 100, templet:function(d){
                	if(d.last_login_ip){
                		return '已激活';
                	}else{
                		return '未激活';
                	}
                    //return d.role.name;
                }}
                ,{title: '操作', with:280, templet: '#buttonTpl', width: 150,fixed:'right'}
            ]]
        });
    });
</script>