<div class="j-indent-boxs">
	{if condition="$group == 'y'"}
	<div class="layui-btn-group j-add-group clearfix">
		<a href="{:url('add')}" class="layui-btn layui-btn-primary layui-btn-sm layui-icon"><i class="layui-icon layui-icon-add-1"></i>新增员工</a>
	</div>
	{/if}
	<div class="page-toolbar j-page-toolbar clearfix">
		  <form class="layui-form layui-form-pane" action="{url('index')}"  method="get" id="hisi-table-search">
			<div class="j-search-fl">
				  <div class="layui-input-inline j-input-margin" style="width:150px;">
					  <input type="text" name="group_name" placeholder="企业名称" class="layui-input">
				  </div>
				  <div class="layui-input-inline j-input-margin" style="width:150px;">
					  <input type="text" name="group_manager" placeholder="姓名" class="layui-input">
				  </div>
				  <div class="layui-input-inline j-input-margin" style="width:150px;">
					  <input type="text" name="ctime" placeholder="入驻时间" class="layui-input">
				  </div>
				  <div class="layui-input-inline j-input-margin" style="width:150px;">
					  <select name="ban_id"  lay-verType="tips" class="field-cid" type="select">
		  			    <option value="">请选择</option>
		  			    {volist name="params['shack_status']" id="v"}
		                <option value="{$key}">{$v}</option>
		                {/volist}
		  			</select>
				  </div>
				  <button type="reset" class="layui-btn j-btn-reset">重置</button>
				  <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
					  <i class="layui-icon">&#xe615;</i>
					  搜索
				  </button>
			</div>
		  </form>
	  </div>
	<table id="dataTable" lay-filter='dataTable'></table>

	{include file="system@block/layui" /}

	<script type="text/html" title="操作按钮模板" id="buttonTpl">
		
		<div class="j-operation-box">
			<a href="{:url('edit')}?id={{ d.member_id }}" class="layui-btn layui-btn-xs layui-btn-normal">编辑</a>
			{{# if (d.is_activate == 1) { }}
			<a href="{:url('stop')}?id={{ d.member_id }}" data-msg="停用后将从本列表移除" class="layui-btn layui-btn-xs layui-btn-danger j-tr-del">停用</a>
			{{# } else { }}
			<a href="{:url('del')}?id={{ d.member_id }}" class="layui-btn layui-btn-xs layui-btn-danger j-tr-del">删除</a>
			{{# } }}
		</div>

	</script>

	<script type="text/html" id="toolbar"></script>
</div>
<script type="text/javascript">
    layui.use(['table','jquery'], function() {
        var $ = layui.$
		    ,table = layui.table;
		var group = '{$group}';
		var ishide = (group == 'y')?false:true;		
        table.render({
            elem: '#dataTable'
            ,url: '{:url()}?group={$group}' //数据接口
            ,page: true //开启分页
			//,height: 'full-280'
            ,skin: 'line'
            //,even: false
            ,limit: 10
            ,text: {
                none : '暂无相关数据'
            }
            ,cols: [[ //表头
            	{field: 'firm_name', align:'center',with:120, title: '企业名称'}
                ,{field: 'member_name', align:'center',with:100, title: '姓名'}
                ,{field: 'member_tel', align:'center',with:100, title: '电话'}
                ,{field: 'member_post', align:'center',with:100, title: '职位'}
                ,{field: 'member_department', align:'center',with:100, title: '部门'}
                ,{field: 'ctime', align:'center',with:100, title: '入驻时间'}
                ,{field: 'is_activate', align:'center',with:100, title: '状态', templet:function(d){
                	
                    if(d.is_activate){
                    	return '<button class="j-table-button j-activated">已激活</button>';
                    }else{
						return '<button class="j-table-button j-notactive">未激活</button>';
                    }
                }}
                ,{title: '操作', with:280, hide: ishide, templet: '#buttonTpl',fixed:'right'}
            ]]
        },ishide);
    });
</script>